<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="mt50"></div>
<!--<h1><%#= link_to "Pay  your pledge on line", new_pledge_path %></h1> <p><small>(Pledge feature is under construction)</small></p>-->
<div class="mt30"></div>

  <h1> Fill out your profile </h1><br>
  
    <% if current_user.avatar? %>
      <%= link_to cl_image_tag(current_user.avatar.path, size: '160x234',
        class: "floatleft"), edit_user_path(current_user) %> 
    <% else %>
      <div class="big-avatar-missing">
      <%= link_to edit_user_path(current_user) do %>
      <h3>Click to add<br>Your Picture</h3>
      </div>
      <% end %>
    <% end %>

  <h3 class="mt30">Everybody has a story...</h3>
    <p>...And we get to know one another by sharing our story. To get started, look at the questions below and fill out the boxes you want to fill out. You can always come back to edit your profile.</p>

  

    <div class='clearall'> </div>
      <p><strong>Click your photo to update it</strong></p>
  
<div class="form-group">
  <%= simple_form_for @profile do |f| %>  
    <p><strong>Important locations:</strong> Name the cities or towns that have been important in your life, starting with your birthplace.</p>
      <%= f.input :cities, class: "form-control"%><br>

    <p><strong>Growing up: </strong>Write a little about your growing-up years, before launching your career. Did you play sports in school or were you named homecoming queen? What sort of education do you have:</p>
      <%= f.input :background, class: "form-control"%><br>
  
    <p><strong>Building a career: </strong>This is where you tell us about your work life. Multiple careers? Lots of travel? </p>
      <%= f.input :career, class: "form-control"%><br>
   
    <p><strong>Family matters: </strong>Tell us about your immediate family first, then any famous or infamous ancestry or offspring. Where are the kids? </p>
      <%= f.input :family, class: "form-control"%><br>
    
    <p><strong>Hobbies and other activities: </strong>Lifestyle questions concern your off-the-job pursuits.  Are you a sailor, chef or musician? What skills have you acquired over the years? Handy with tools? How many holes-in-one or 300-games?</p>
      <%= f.input :lifestyle, class: "form-control"%><br>
  
    <p><strong>Life in the world: </strong>Do you or did you belong to any service organizations or clubs? Tells us about your civic involvement as a volunteer or elected or appointed leader in the secular world. </p>
     <%= f.input :civic, class: "form-control"%><br>
    
    <p><strong>The Family of God: </strong>Finally, we come to church. What ministries have you been involved in at St. Paul's or at another church? Are you interested in Christian formation? A Bible study? Do you want to say why you come to St. Paul's?</p> 
      <%= f.input :church, class: "form-control"%><br>

      <%= f.submit "save changes", class: "btn btn-primary" %>
  <% end %> 
