<%= cl_image_tag(profile.user.avatar.path, { size: '300x300', crop: :fill, class: "floatleft" }) if current_user.avatar? %>
<h3><%= profile.user.full_name.titleize  %></h3><div class="clearall"></div>

<h4>Important locations</h4>
<p><%= @profile.cities  %></p>


<h4>Growing up</h4>
<p><%= @profile.background %></p>


<h4>Building a career</h4>
<p><%= @profile.career  %></p>


<h4>Family matters</h4>
<p><%= @profile.family %></p>


<h4>Hobbies and other activities</h4>
<p><%= @profile.lifestyle %></p>

<h4>Life in the world</h4>
<p><%= @profile.civic  %></p>


<h4>The Family of God</h4>
<p><%= @profile.church %></p>

<% if current_user == @profile.user %>
    <%= link_to ' | Edit', edit_profile_path(@profile) %> | 
    <%= link_to 'Delete', profile_path(@profile), method: :delete, data: { confirm: 'This will delete your profile.' } %> 
<% end %>


<%= link_to "<< Back to the Sharing page", posts_path %>
