<h1>Profiles of the Saint Paul's Family</h1>
  <p> Get to know your leadership and fellow parishioners. Please urge your friends to post their profiles. </p>
    <% if current_user && user_signed_in? %>
      <p><strong><%= link_to "Create or edit your profile", edit_profile_path(@profile) %></strong><br></p>
    <% end %>
<% @users.each do |user| %>
  <% if user.avatar.present? %>
  <%= cl_image_tag(user.avatar.path, { width: '120', class: "floatleft"}) %>
  <% end %> 
  <h3><%= user.full_name %> <%= user.id %></h3>
  <% if user.avatar.present? %>
  <div class="clearall"></div>
  <% end %>
    <%if user.profile.cities.present? %>
      <p><small><%=link_to "Show this profile", profile_path(user.profile) %></small></p> 
    <% else %>
      <p>Remind this person to create a profile.</p>
    <% end %>
  <% end %>  

