
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", :multipart => true, method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">

    <%= f.input :first_name, required: false, wrapper: :horizontal_form %>
    <%= f.input :last_name, required: false, wrapper: :horizontal_form %>
    <%= f.input :email, required: false, wrapper: :horizontal_form %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, hint: "leave it blank if you don't want to change it", required: false, wrapper: :horizontal_form %>
    <%= f.input :password_confirmation, required: false, wrapper: :horizontal_form %><br>

    <%#= f.input :avatar, as: :attachinary , wrapper: :horizontal_form %><br>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, wrapper: :horizontal_form %> 
    <%= f.button :submit, "Update", class: 'btn btn-primary' %>
  </div>
<% end %>
<br>
<br>
<hr>
<h3>Cancel my account</h3>

<p><strong>Unhappy?</strong></p> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure? All traces of you will be deleted and all posts, pictures and other data you contributed will be unavailable to anyone from Saint Paul's. If there are such things that you think others would want to see, please call your webmaster, Tom Connolly, before cancelling your account." }, method: :delete, class: "btn btn-danger" %></p><br>

<%= link_to "<<Back", :back %>
