
<h2>Welcome to Saint Paul's</h2>
<div class="field">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autofocus: true, class: "form-control"%>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, autofocus: true, class: "form-control"%>
  </div>
  <h3>(On subsequent visits, you will log in using your full name, matching these entries, plus your password, to access certain non-public pages)</h3>
<br />
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control"%>
  </div>
<br />
  <div class="form-group">
    <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
  </div>

    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
  </div>
<br />
 <h3>Add a profile picture</h3>
<br />
  <div class="form-group">
  <%= f.attachinary_file_field :avatar %>
<br />
  <div class="form-group">
    <%= f.submit "submit", class: "btn btn-primary" %>
  </div>
<% end %>
<div>
<h3><%= link_to "Fill out your profile", new_profile path %></h3>
<%= render "devise/shared/links" %>
</div>