<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= devise_error_messages! %>

        <div class="form-inputs">
          <%= f.input :first_name, autofocus: true, required: true, placeholder: "Your first name" %>
          <%= f.input :last_name, required: true, placeholder: "Your last name" %>
          <%= f.input :email, required: true, placeholder: "your email" %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
         <div class="honey">
          <%= f.input :honey %>
         </div>
        
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>