<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @pledger.last_name %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @pledger.salutation %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @pledger.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @pledger.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @pledger.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @pledger.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @pledger.postal_code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pledger.type %>
</p>

<p>
  <strong>Northern city:</strong>
  <%= @pledger.northern_city %>
</p>

<%= link_to 'Edit', edit_pledger_path(@pledger) %> |
<%= link_to 'Back', pledgers_path %>
