<div class="border-left border-top border-bottom p-4 mb-4">
    <p><em><%= comment.user.username.titleize %>::</em> 
    <%= simple_format comment.body %></p>

    <div data-controller="reply">
    <%= link_to "Reply", "#", data: { action: "click->reply#toggle"} %>
    <%= render partial: "comments/form", locals: { commentable: comment.commentable,  parent_id: comment.id, class: "d-none", target: "reply.form" }%>
    </div>
<%= render comment.comments %>
</div> 