<div class="comment">
  <% post.comments.each do |comment| %>
    <% if comment.user.avatar.present? %>
      <%= cl_image_tag(comment.user.avatar.path, { size: '55x60', crop: :fill, gravity: :face, class: "floatleft" }) %>
      <% else %>
        <div class="default-comment-avatar">Your<br>Photo<br>Here</div>
    <% end %>
      
    <p><%= comment.user.full_name.titleize %> : 
      <%= comment.body %>
      <span class="time-ago"><%= time_ago_in_words(comment.created_at) %> ago.</span></p>
      <% if comment.user == current_user %><p><span class="edit-delete-line">
        <%= link_to [comment.post, comment], remote: true,
            method: :delete,  data: { confirm: 
          'This will delete your comment.' } do %>Delete! </span></p>
        <% end %>
      <% end %>
     
  <% end %>
</div>
