
<p>
Name:  <%= @shot.last_name %>, <%= @shot.first_name %> | 
Phone:  <%= @shot.phone %> | Email: <%= @shot.email %> | 
Appointment time: <%= @shot.shot_time %>

</p>

<h2>Your appointment is for <%= @shot.shot_time %> on Saturday, May 1 at St. Paul's Episcopal Church. The Johnson & Johnson brand will be used. It is a one-shot application. <br>
  If for any reason you cannot make your appointment, please inform us at welcome@saintpaulsnaples.org so we may make room for someone else.<br>

To expedite your visit, please <%= link_to "download and fill out the authorization document", "http://sarasota.floridahealth.gov/_files/_documents/2020/_documents/consent-form-12-292020.pdf" %> and bring it with you to your appointment. <br>
Here are links to that document in <%= link_to "Spanish", "http://sarasota.floridahealth.gov/_files/_documents/2020/_documents/moderna-vaccine-screening-and-consent-form-spanish.pdf" %> and <%= link_to "Creole", "http://sarasota.floridahealth.gov/_files/_documents/2020/_documents/moderna-vaccine-screening-and-consent-form-creole.pdf" %>
<p>We've been told that you may have to fill out a fresh consent form when you get here, because the state wishes to handle only forms printed on both sides. So perhaps you may want to merely view the form and familiarize yourself with the requirements and fields.</p>
<br>
Please let your friends and neighbors know there are plenty of shots available at St. Paul's tomorrow. It's not even essential that they sign up; just drop in!
</h2>
<br>
<h2><%= link_to "Click here to make another appointment for your party", new_shot_path %></h2>
<br>
<% if current_user && current_user.has_role?(:vvol) %>
<%= link_to 'Edit', edit_shot_path(@shot) %> |
<%= link_to 'Back', shots_path %>
<% end %>
