<div class="mt50"></div>
  <div class="row">    
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <div class="pledge-text">
        <p><strong> You have elected the <span id="plan"><em><%= @pledge.plan %></em></span> pay plan for your annual pledge of <%= number_to_currency(@pledge.amount) %>. That would be <%= @pledge.divisor %> payments of <span id="payThis"><%= number_to_currency((@pledge.pay_this.to_f)/100) %></span>.</strong></p>
        <div class="mt30"></div>
          <p>If these numbers are not correct, click "edit pledge" to make changes. If OK, click "Pay with Card." You will be taken to a secure website that handles credit and debit card payments for our church.</p>
        <div class="mt30"></div>
        <p><strong>
          If your circumstances change or for any other reason you wish to edit or remove these settings you may do so at any time.</strong></p>
        <div class="mt30"></div>
        <%= link_to "Edit pledge", edit_pledge_path(@pledge), class: "btn btn-warning btn-lg" %>
      
    <%= form_tag pledge_charges_path, id: "pledgeCharge" do %> 
      <script src="https://checkout.stripe.com/checkout.js"> </script>
        <%= hidden_field_tag 'stripeToken' %>
        <%= hidden_field_tag 'pledge_id', @pledge.id %>
        <button id ="btn-buy" type="button" class="btn btn-success btn-lg">Make Payment</button>
        <script>
          var handler = StripeCheckout.configure({
            key: '<%= Rails.configuration.stripe[:publishable_key] %>',
            zipCode: true,
            image: 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/Shield.png',
            allowRememberMe: false,
            token: function(token, arg) {
              document.getElementById("stripeToken").value = token.id;
              document.getElementById("pledgeCharge").submit();
            }
          });
        document.getElementById("btn-buy").addEventListener('click', function(e) {
            handler.open({
              name: '<%= @pledge.plan %>',
              description: 'Pledge payment',
              amount: '<%= @pledge.pay_this %>'
            });
            e.preventDefault();
          })
      </script>  
    <% end %>
   <div class="mt100"></div>
  </div>
</div>
