<div class="container">
  <div class="row">
    <div class="col-md-1" id="pledge-step3"><h1 class="pledge-number">3</h1>
    </div>
      <div class="col-md-11"
        <div class="pledge-text">
          <div class="mt50">
          </div>

          <h3> You have elected to pay your pledge of $<%= @pledge.amount %>  
            annually in <%= @pledge.divisor %> payments of $<span id="payThis"><%= @pledge.pay_this %></span>.<br><br>
            If these numbers are correct, you will now be taken to a secure website that handles credit and debit card payments for Saint Paul's.<br><br>If your circumstances change or for any other reason you wish to change these settings you may do so at any time.</h3><div class="mt100"></div>
              <span class="edit"><%= link_to "Edit Facts",  new_pledge_path, class: "btn btn-primary" %> &nbsp; &nbsp; <span class="checkout">
              <%= button_to "All Correct", root_path %>
                         

        </div>  
      </div>
  </div>
