<div class="mt50"></div>
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <div class="pledge-text">
        <p><strong> You have elected the <span id="plan"><em><%= @pledge.plan %></em></span> pay plan for your annual pledge of <%= number_to_currency(@pledge.amount) %>. That would be <%= @pledge.divisor %> payments of <span id="payThis"><%= number_to_currency((@pledge.pay_this.to_f)/100) %>, </span> beginning today and ending on Consecration Sunday, where our pledges will be offered to God at all the services.</p>
      <div class="mt30"></div>
        <p>If these numbers are not correct, click "edit pledge" to make changes. If OK, click "Pay with Card." You will be taken to a secure website that handles credit and debit card payments St. Paul's.</p>
      <div class="mt30"></div>
        <p><strong>
          If your circumstances change or for any other reason you wish to edit or remove these settings you may do so at any time.</strong></p>
      <div class="mt30"></div>
      <%= link_to "Edit pledge", edit_pledge_path(@pledge), class: "btn btn-warning btn-lg" %>
      </div>

<%= form_with url: pledge_charges_path, method: :post, id: 'payment-form' do |form| %>
<div>
<label for="card-element">
  Enter credit or debit card information </label>
<div id="card-element"></div>
<div id="card-errors" role="alert"></div>
</div>
<%= form.submit 'Submit Payment', class: 'btn btn-primary' %>
<% end %>
    </div>
  </div>
