<%= simple_form_for(@characteristic) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "Name of the attribute or characteristic"%>
    <%= f.input :definition, placeholder: "What is your meaning of this attribute?" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
