<p id="notice"><%= notice %></p>

<h2>Characteristics</h2>


    <% @characteristics.each do |characteristic| %>
    
      <h4><%= characteristic.name %></h4>
      
      <p><%= raw characteristic.question %></p>
      
      
      <%= link_to 'Edit', edit_characteristic_path(characteristic) %>  | <%= link_to 'Destroy', characteristic, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %> 

<div class="mt30"></div>
<p><b>
<%= link_to 'Create a new characteristic', new_characteristic_path %></b></p>
