<p id="notice"><%= notice %></p>

<h1>Characteristics</h1>


    <% @characteristics.each do |characteristic| %>
    
      <h3><%= characteristic.name %></h3>
      <p><%= characteristic.definition %></p>
      
      <%= link_to 'Show', characteristic %> <% if characteristic.user == current_user %>| 
      <%= link_to 'Edit', edit_characteristic_path(characteristic) %>  | <%= link_to 'Destroy', characteristic, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %> 
    <% end %>
<div class="mt30"></div>
<p><b>
<%= link_to 'Create a new characteristic', new_characteristic_path %></b></p>
