<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @characteristic.name %></p>
<p>
  <strong>Definition:</strong>
  <%= @characteristic.definition %></p>

  <%= link_to 'Edit', edit_characteristic_path(@characteristic) %> | 
  <% if current_user.characteristics.count <5 %> 
    <p>   
    You have submitted <%= current_user.characteristics.count %> so far. 
    Please enter at least five and up to as many as you wish. </p>
  <% elsif current_user.characteristics.count >=5 %> 
    <p><b>
    Good for you! Keep adding as many as you desire. </b></p>
  <% end %></p>
  <p>
  <%= link_to 'Add another characteristic', new_characteristic_path %></p>
  <div class="mt30"></div>
  <%# unless @characteristic.user.rating.present ? %>
  

  <h4><%= @characteristic.name %></h4>
  <%# if @characteristic_id.ratings.user_id == current_user rating.present ? %>
  <p>You already rated this attribute</p>
  <%# else %>

  <p><b>Rate this characteristic</b></p>
  <div>
    <%= form_for([@characteristic, @rating]) do |f| %>
        <%= f.hidden_field :characteristic_id, :value => @characteristic.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.radio_button(:score, "unimportant") %>
        <%= f.label(:score, "unimportant") %>
        <%= f.radio_button(:score, "somewhat important") %>
        <%= f.label(:score, 'somewhat important') %>
        <%= f.radio_button(:score, "very important") %>
        <%= f.label(:score, 'very important') %>
        <%= f.radio_button(:score, "essential") %>
        <%= f.label(:score, 'essential') %>
  </div>
    <div class="form-actions">  
      <%= f.button :submit %>
    </div>
    <% end %>
  <%# end %>
  <%# end %>
  
<div class="mt100"></div>
<%= link_to 'Show all characteristics submitted so far', characteristics_path %>

