<%= bootstrap_form_for(@syllabus) do |f| %>
  <%= f.error_notification %>

 <div class="row">
   <div class="col-md-2 col-md-offset-2"> 
  <h3> 
  <%= f.input :year, as: :radio_buttons, collection: ["A", "B", "C"] %> </div> 
  <div class="col-md-2 col-md-offset-1"> <h3> 
  <%= f.input :grade, as: :radio_buttons, collection: ["Preschool", "Primary", "Intermediate "] %> </div>
  <div class="col-md-3 col-md-offset-2"> <h3>  
  <%= f.input :quarter, as: :radio_buttons, collection: ["I", "II", "III", "IV"] %></h3></div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <%= f.input :theme %>
    <%= f.input :title1 %>
    <%= f.input :title2 %>
    <%= f.input :title3 %>
    <%= f.input :title4 %>
    <%= f.input :title5 %>
    <%= f.input :title6 %>
    <%= f.input :title7 %>
    <%= f.input :title8 %>
    <%= f.input :title9 %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
