<%= simple_form_for(@syllabus) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <h3>Year:  
  <%= f.collection_radio_buttons :year, [["a", " A"], ["b", "B"], ["c", " C"]], :first, :last, class: "collection_radio_buttons" %> &nbsp; &nbsp;
  Grade: 
  <%= f.collection_radio_buttons :grade, [["preschool", " Preschool"], ["primary", " Primary"], ["intermediate", " Intermediate"]], :first, :last, class: "collection_radio_buttons" %> &nbsp;&nbsp;  
  Quarter:  
  <%= f.collection_radio_buttons :quarter, [[0, "I"], [1, "II"], [2, "III"], [3, "IV"]], :first, :last %></h3>
    <%= f.input :theme %>
    <%= f.input :title1 %>
    <%= f.input :title2 %>
    <%= f.input :title3 %>
    <%= f.input :title4 %>
    <%= f.input :title5 %>
    <%= f.input :title6 %>
    <%= f.input :title7 %>
    <%= f.input :title8 %>
    <%= f.input :title9 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
