<p id="notice"><%= notice %></p>
<div class="container"> 
  <div class="row">
    <div class="col-md-8">
<h1>What the children are learning</h1>
  <% @syllabuses.each do |syllabus| %>
    <h3>Year:  <%= syllabus.year.upcase %>,&nbsp;&nbsp; Grade: <%= syllabus.grade.capitalize %>,&nbsp; &nbsp;      
      Quarter: <%= syllabus.quarter %></h3>
      <h3><%= syllabus.theme %></h3>
      <%= syllabus.title1 %><br>
      <%= syllabus.title2 %><br>
      <%= syllabus.title3 %><br>
      <%= syllabus.title4 %><br>
      <%= syllabus.title5 %><br>
      <%= syllabus.title6 %><br>
      <%= syllabus.title7 %><br>
      <%= syllabus.title8 %><br>
      <%= syllabus.title9 %><br></p>
      
      <% if current_user && current_user.admin? %>
      <%= link_to 'Show', syllabus %>&nbsp; 
      <%= link_to 'Edit', edit_syllabus_path(syllabus) %>&nbsp;
      <%= link_to 'Destroy', syllabus, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
<br>
<% if current_user && current_user.admin? %>
<%= link_to 'New Syllabus', new_syllabus_path %>
<br>
<%= link_to "Download CSV", syllabuses_path(format: "csv") %><br>
<div class="mt30"></div>
<p>Import CSV</p>
<%= form_tag import_syllabuses_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
  <% end %>
<% end %>
    </div>

      <div class="col-md-4 sidebar">
        <h3>What year are we in?</h3>
          <p>The syllabus we follow, created at the Virginia Theological Seminary, allows for children to learn the significant Bible stories and lessons over a three-year period. We've named them Year A, B and C.</p>
          <p><strong>Year A</strong> 2016-17</p>
          <p><strong>Year B</strong> 2017-18</p>
          <p><strong>Year C</strong> 2018-19</p>
          <p>Then the cycle repeats, with the beginning of the year in August and ending in early summer, roughtly parallel to the children's school year. Sunday School is less formally structured in the summer months, but is still available.</p> 
      </div>
  </div>
</div>
