<p id="notice"><%= notice %></p>

  <h4>Year: 
  <%= @syllabus.year.upcase %>, 
&nbsp; 
  Grade: 
  <%= @syllabus.grade.capitalize %>, 
&nbsp;
  Quarter: 
  <%= @syllabus.quarter.upcase %><br>
  <%= @syllabus.theme %>
<br><br>
Titles</h4>
<%= @syllabus.title1 %>
<br>
  <%= @syllabus.title2 %>
<br>
  <%= @syllabus.title3 %>
<br> 
<%= @syllabus.title4 %>
<br>
  <%= @syllabus.title5 %>
<br>
  <%= @syllabus.title6 %>
<br>
<%= @syllabus.title7 %>
<br>
  <%= @syllabus.title8 %>
<br>
  <%= @syllabus.title9 %>
<br>



<%= link_to 'Edit', edit_syllabus_path(@syllabus) %> | &nbsp;
<%= link_to 'Back', syllabuses_path %> | &nbsp;
<%= link_to 'New', new_syllabus_path %>
