<p id="notice"><%= notice %></p>

<h1>Search Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Characteristic</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_questions.each do |search_question| %>
      <tr>
        <td><%= search_question.question %></td>
        <td><%= search_question.characteristic_id %></td>
        <td><%= search_question.user_id %></td>
        <td><%= link_to 'Show', search_question %></td>
        <td><%= link_to 'Edit', edit_search_question_path(search_question) %></td>
        <td><%= link_to 'Destroy', search_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Question', new_search_question_path %>
