<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @search_question.question %>
</p>

<p>
  <strong>Characteristic:</strong>
  <%= @search_question.characteristic_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @search_question.user_id %>
</p>

<%= link_to 'Edit', edit_search_question_path(@search_question) %> |
<%= link_to 'Back', search_questions_path %>
