
<%= bootstrap_form_for @story_idea do |f| %>
  <%= f.text_field :title, autofocus: true %><br>
  <%= f.text_field :url, placeholder: 'Do you wish to link to a website? Enter address here.',
   label: false %>
  <%#= f.input :story_idea_picture, as: :attachinary, label: "Upload a picture" %>
<div class="mt30"></div>
    <%= f.rich_text_area :content %>

    <%= f.submit %>
    <%= link_to "Cancel", :back, class: "btn btn-danger btn-xs" %>
<% end %>
