<%= simple_form_for @story_idea do |f| %>
  <%= f.input :title, placeholder: 'Title of your new topic', 
  label: false, autofocus: true %><br>
  <%= f.input :body, placeholder: 'Details (hit "enter" twice to make new paragraph)', 
  input_html: { rows: 10 }, label: false %>
 
  <div class="submit-post">
    <%= f.button :submit, "Submit", class: "btn btn-primary btn-xs" %> &nbsp;
    <%= link_to "Cancel", :back, class: "btn btn-danger btn-xs" %>
  </div>
<% end %>
