<%= javascript_include_tag Ckeditor.cdn_url %>
<%= simple_form_for @story_idea do |f| %>
  <%= f.input :title, placeholder: 'Title of your new topic', 
  label: false, autofocus: true %><br>
  <%= f.input :url, placeholder: 'Do you wish to link to a website? Enter address here.',
   label: false %><br>
    <%= f.input :story_idea_picture, as: :attachinary, label: "Upload a picture" %>

  <%= f.input :body, as: :ckeditor %>

 
  <div class="submit-post">
    <%= f.button :submit, "Submit", class: "btn btn-primary btn-xs" %> &nbsp;
    <%= link_to "Cancel", :back, class: "btn btn-danger btn-xs" %>
  </div>
<% end %>

