<div class="container">
  <div class="row">
    <div class="col-md-8">
    <p id="notice"><%= notice %></p>

  <section>  
    <div class="create-story_idea">
    <% if current_user.avatar.present? %>
      <%= cl_image_tag(current_user.avatar.path, { size: '110x120', 
        crop: :fill, gravity: :face, class: "floatleft" }) %>
      <% else %>
      <div class="default-avatar"><h5>Your<br>Picture<br>
      Here</h5>
      </div>
    <% end %><br><br>
      <%= link_to new_story_idea_path, remote: true do %>
      <p><strong>Communicate a new topic</strong></p>
      <% end %>
    </div>
    <br>
    <div id="story_ideas-form" style="display:none;">
    </div>   
  </section>
  <section>
    <div class="mt30"></div>
    <div id="story_ideas">
     <h1>From the Communicators</h1>
     <% @story_ideas.each do |story_idea| %>
     <h2><%= link_to story_idea.title, story_idea %></h2>
     <% if story_idea.comments.any? %>
     <p><small><em>Comment count: <%= story_idea.comments.count %>  </em></small></p>
     <% end %>
     <% end %>
    </div>
  </section>
  </div>
    <div class="col-md-4 sidebar">
      <h3> Resources </h3>
      <p><%= link_to "Diocesan stylebook", "http://s3.amazonaws.com/dfc_attachments/public/documents/3221889/2-Diocesan_Stylebook_2016.pdf" %></p>
      <p><%= link_to "Diocesan guidebook for using social media", "http://s3.amazonaws.com/dfc_attachments/public/documents/3221891/3-socialmedia_2016_Guidelines_Final.pdf" %> </p>
      <p><%= link_to "Episcopal communicators website", "http://episcopalcommunicators.org/" %> </p>
      <p><%= link_to "Tips for internal communications, from our Methodist friends", "http://www.umcom.org/learn/5-tips-for-internal-church-communications" %> </p>

    </div>
  </div>
</div>
