By clicking Submit you are registering to receive information about Sacred Ground in the coming weeks. We hope to begin this series in October.
<%= bootstrap_form_for(@participant) do |f| %>
  <div class="form-inputs">
    
    <%= f.text_field :first_name, placeholder: "First name" %>
    <%= f.text_field :last_name, placeholder: "Last name" %>
    <%= f.text_field :email, placeholder: "Email" %>
    <div class="honey">
      <%= f.text_field :honey %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
