<p id="notice"><%= notice %></p>

<h1>Sacred Ground Participants</h1>


    <% @participants.each do |participant| %>
      <%= participant.first_name %> <%= participant.last_name %>, <%= participant.email %>
        <% if current_user && current_user.has_role?(admin ) %>  
          <%= link_to 'Show', participant %>
          <%= link_to 'Edit', edit_participant_path(participant) %>
          <%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
        <% end %>
    <% end %>

<br>

<%= link_to "New Participant", new_participant_path %>
