<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2"<h3>Users</h3>
      <% @users.each do |user| %> 
        <p><strong>  <%= user.full_name.titleize %></strong> &nbsp; <%= user.email %> &nbsp; <%=user.role %></p>
      <% end %>
      <br>
      <h3> Vestry Members  </h3>
      <% @users.where('role = 1').each do |v| %>
       <p><strong> <%= v.full_name %> </strong>&nbsp;
        <%= v.email %> <br> </p>
        <% end %>
        <br>
        <h3>Administrators</h3>
        <% @users.where('role = 0').each do |admin| %>
        <p><strong> <%= admin.full_name %></strong>&nbsp; <%= admin.email %></p>
        <% end %>
        
   
  

<h2>Import users</h2>
<%= form_tag url: import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
  <% end %>

   

  </div>
</div>
 </div>