<p id="notice"><%= notice %></p>

<h1>Listing Parish Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parish_surveys.each do |parish_survey| %>
      <tr>
        <td><%= parish_survey.title %></td>
        <td><%= link_to 'Show', parish_survey %></td>
        <td><%= link_to 'Edit', edit_parish_survey_path(parish_survey) %></td>
        <td><%= link_to 'Destroy', parish_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parish survey', new_parish_survey_path %>
