<p id="notice">
  <%= notice %>
</p>

<h1>We are praying for</h1>
<%= link_to "Let's pray for... (Click to add a new name)" , new_pray_for_path %>
  <div class="mb-4"></div>

<% @pray_fors.each do |pray_for| %>
  <p class="list"><strong>
  <%= pray_for.first_name %>. </strong>
  <%= pray_for.reason %><br>
    
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit' , edit_pray_for_path(pray_for) %> |
    <%= link_to "Destroy" , pray_for_path(pray_for), data: { turbo_confirm: "Are you sure?" } method: :delete %>
  <%end%>
<%end%>