<div class="row">
  <div class="col col-md-12 col-sm-12">
    <%= cl_image_tag("jubilee_englbw.jpg", width: '100%', :fetch_format => :auto) %>
  	<p class="text-center"><em>Bishop Dabney Smith helped us launch our Jubilee! year.</em></p>
  </div>
  <div class="clearall"></div>

  <div class="col col-md-8 col-sm-12 main-body">

  <div class="nonmobile">
    <h1>Come worship with us!</h1>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/Cross.png",
        width:"220", class: "floatleft") %>
      <p><strong>8 a.m.</strong> Holy Eucharist, Rite I </p>
      <p><strong>10 a.m.</strong> Holy Eucharist, Rite II</p>
      <div class="mt-20">
        <p><small>Children are invited to nursery/Sunday school  </small></p>
      </div>
      
      <p><strong>5 p.m.</strong> Holy Eucharist (in Creole) <%= link_to 'Click for information 
        about our Haitian community', pages_haitian_path %></p>
  </div><!--nonmobile-->
  <div class="mobile">
    <h1>Come worship with us!</h1>
     <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/Cross.png",
        width:"40%", class: "floatleft") %>
      <p><strong>8 a.m.</strong> Holy Eucharist, Rite I </p>
      <p><strong>10 a.m.</strong> Holy Eucharist, Rite II</p>
      <div class="mt-20">
        <p><small>Children are invited to nursery/Sunday school  </small></p>
      </div>
      
      <p><strong>5 p.m.</strong> Holy Eucharist (in Creole) <%= link_to 'Click for information 
        about our Haitian community', pages_haitian_path %></p>

  </div><!--mobile-->      
    <div class="mt30"></div>
    <p><strong><%= link_to "Click here for the Scripture Readings", "http://www.lectionarypage.net" 
	%></strong></p>
    <p><em><strong> Directions: </strong> </em> We are at 3901 Davis Boulevard, a couple of blocks east of 
	Airport Road.</em> Need a map? <%= link_to "Click here.", pages_directions_path %></p>
    <p>To learn about our worship service and about the<strong> <em>Episcopal Church,</em></strong> 
	<%=link_to "click here", worship_index_path%>. And click on that shelf of red books to get a short, 
	cute introduction to our time-honored Book of Common Prayer.</p>
    <div class="mt30"></div>
   <h1> <%= link_to "Help hurricane victims through ERD", "https://episcopalrelief.org/" %></h1>
      <%= cl_image_tag("ERD_vcwkbd.jpg", :width=>404, :crop=>"scale", :class=>"floatleft") %>
       <p>Episcopal Relief and Development is a charity you can trust to use your resources wisely and lovingly. Click the headline to make a donation to help.</p> 
       <div class="clearall"></div>
    <div class="mt30"></div>
      <%= cl_image_tag("jubileeButton_omxlnw.jpg", width: "25%", class: 'floatleft') %>
      <div class="mt100"></div>
      <h2>What's Jubilee! all about?</h2>
      <p><%= link_to "Click here to find out", jubilee_plans_path %></p>
    <div class="clearall"></div>
    <div class="mt30"></div>
    <h2>Home of the Farmers' Market</h2>
    <p>The market will reopen in "season," in November.
    	<!--<%#= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/newFMsign.jpg", 
	width:"90%", class: "image-center", :fetch_format => :auto) %> -->
    	<!--<h2>Welcome to the Farmers&rsquo; Market</h2>
    	<%#= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/FarmMktLogo.png", 
	width:"45%", class: "floatleft") %>
    <p>The final day of this season's Farmers' Market is next Saturday, April 22. Please come 
	back and join the block party again in November. -->For more information on the market, 
	<%= link_to "click here.", markets_index_path %></p>
    <div class="mt30"></div>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/GodLovesNoException.png", 
	width:"95%", class: "image-center", :fetch_format => :auto) %>
    <div class="mt30"></div>
    <div id="newsfeed">
    <iframe src="https://feed.mikle.com/widget/v2/48019/" width="100%" height="500px"></iframe>
    </div><!--  end  newsfeed -->
    <!--<div>
    <a href="http://www.episcopalrelief.org/" target="blank"><img width="65%" vspace="4" 
	border="0" align="bottom" class="image-center" alt="" src="http://www.episcopalrelief.org/
	uploaded/images/Press-and-Resources/Link-To-Us/Logo-Link.gif" /></a>
    </div>-->
  </div><!--main-body -->
  <div class="col col-md-4 col-sm-6 sidebar">
    <%= link_to cl_image_tag("FindFB_ovw6ax.jpg", class: "image-center", width: "100%"),
	"https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133/" %>
      <p><%= Date.current.to_formatted_s(:long) %></p>
        <%= cl_image_tag("UpdateRed_fmhsxv.png", width: "85%", class: "image-center") %>
   <div class="mt30"></div>
  
   <%= image_tag("http://www.ecfvp.org/uploads/vestry_papers/images/two_percent_campaign-325x235.jpg", width: "99%") %>
   <p><strong><em>Jubilee! challenge</em></strong> for October is all about stewardship, We are asking members to add $50 to their annual pledge. The stewardship drive begins this month and takes effect in January 2018.</p>
 
  <p><strong><em>Jubilee! success</em></strong> September's goal of raising $500 to beautify our grounds was exceeded by more than $100. God's Gardeners and Master Gardener Diane  Briethaupt will use the money for ornamental plants, and offer their thanks to all who participated.</p>
    

    <div class="mt30"></div>
  <!--  <div id="toNaplesPlayersVideo">
      <%#= cl_image_tag("SisterAct_pcoe86.png", width: "95%", class: "image-center") %>
    </div>
      <p><b>Hey! That's our church!</b>  Click on the picture to see a 30-second promotional shot at 
	St. Paul's for the play <em>Sister Act, </em> a Naples Players performance at Sugden Theater. 
	A group of 28 from St. Paul's enjoyed the play on Sunday, July 23. The play runs through July.</p>
       <div class="mt30"></div> -->
      <%= cl_image_tag("ecumenicalConcert_dfwyx5.jpg", width: "99%", class: "image-center") %>
        <p><strong> Ecumenical Concert </strong> for the benefit of Youth Haven will be held at 2 p.m. Sunday, Oct. 15 at Unity Church It had been scheduled for Sept. 24, before Irma disrupted the landscape. The event will feature musicians from six East Naples congregations, including St. Paul's. Unity is located at 2 Unity DR, off Davis Blvd. just east of County  Barn Road.</p>
        <p>

      <%= cl_image_tag("togetherLogo_grjbrm.png", width: "95%", class: "image-center") %>
      <p><strong>There's a place for you</strong> to exercise your ministry at Saint Paul's! In this,
      our Jubilee! year, we wish to add 50 new ministries! We are the hands and feet of the Risen
       Lord in the modern world that is in great need. Some of our ministries are
       <%= link_to 'listed here.', opportunities_path %></p>
      <div class="mt30"></div>
     <!--<%#= cl_image_tag("logos/nameTag.png", width: "55%", class: "image-center") %>
      <p>Wearing your <strong> name tag </strong> is an act of hospitality!  We want visitors 
	and our members to feel comfortable at services and coffee hour. If you don't have a name 
	tag, call the office during the week.</p> -->
      <div class="mt30"></div>
      <p><strong>Get the Weekly Update in your email box </strong> <%= link_to "by signing up here.", 
	'http://visitor.r20.constantcontact.com/d.jsp?llr=ip9lo9eab&p=oi&m=1104694077928&sit=ywgju8zfb&f=515707c1-0d44-46a0-803a-2fcb34db78a2' %></p>
      <div class="mt30"></div>
      <%=link_to cl_image_tag("Calendar-clip_zbdtul.jpg", width: "55%", class: "image-center", 
	:fetch_format => :auto), pages_calendar_path %>
      <h3>Click calendar to see our activities</h3>
      <div class="mt30"></div>
  </div><!-- sidebar -->
    <div id="youtube">
      <div id="videoModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="videoModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <iframe width="560" height="315" src=""></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
   <script>
      $('#toNaplesPlayersVideo').click(function() {
       var src="https://www.youtube.com/embed/hyrQqAs0gIs?rel=0;autoplay=1";
       $('#videoModal').modal('show');
       $('#videoModal iframe').attr('src', src);
      });
      $('#videoModal button').click(function() {
        $('#videoModal iframe').removeAttr('src');
      });
    </script>
	<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/hyrQqAs0gIs" frameborder="0" 
	allowfullscreen></iframe> <iframe width="560" height="315" src="https://www.youtube.com/embed/
	hyrQqAs0gIs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>-->
</div><!-- row -->
