
<%= render 'layouts/tickets_popup' %>
<div class="row">
  <div class="col col-md-12 col-sm-12 col-lg-12">
    <%= cl_image_tag("jubilee_englbw.jpg", width: '100%', :fetch_format => :auto) %>
  </div>
</div>
<div class="row">
  <div class="col col-md-8 col-sm-12 main-body">


  <h1 id="welcome">Come worship with us!</h1>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/Cross.png", width:"220", class: "floatleft") %>
    
    <p><strong>7:45 a.m.</strong> Holy Eucharist (Traditional)</p>
    <p><strong>9 a.m.</strong> Adult Christian Formation <%= link_to 'See details', formation_talks_path %> </p>
    <p><strong>10 a.m.</strong> Holy Eucharist </p>
    <p><strong>5 p.m.</strong> Holy Eucharist (in Creole) <%= link_to 'Information in Creole', pages_haitian_path %></p>
    <p><strong>Ash Wednesday</strong> services at noon and 5:30 p.m. March 1</p>
   
     <p><strong><%= link_to "Click here for the Scripture Readings", "http://www.lectionarypage.net"  %></strong></p>
       <p><em><strong> Directions: </strong> </em> We are at 3901 Davis Boulevard, a couple of blocks east of Airport Road.</em> Need a map? <%= link_to "Click here", 'pages/directions' %>.</p>
       <p>To learn about our worship service and about the<strong> <em>Episcopal Church,</em></strong> <%=link_to "click here", worship_index_path%>. And click on that shelf of red books to get a short, cute introduction to our time-honored Book of Common Prayer.</p>
       <div class="mt30"></div>
   <%#= link_to cl_image_tag("meditationsAdWeb_qixmyp.jpg", width: '100%'), new_meditation_path %>
 
   <div class="mt30"></div>
<div>

 <%= link_to cl_image_tag("poster2017Web_awry5m.jpg", width: '75%', class: "floatright"), 'events/2/tickets/new' %>
      <div class="mt30"></div><p><strong>Click on image<br>for tickets<br>to concert</strong></p>
 <div class="clearall"></div>
 </div>
    <div class="mt30"></div>

    <%= cl_image_tag("jubileeButton_omxlnw.jpg", width: "25%", class: 'floatleft') %>
    <div class="mt100"></div>
    <h2>What's Jubilee! all about?</h2>
    <p><%= link_to "Click here to find out", jubilee_plans_path %></p>
    
    <%#= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/newFMsign.jpg", width:"90%", class: "image-center", :fetch_format => :auto) %>
    <h2>Welcome to the Farmers&rsquo; Market</h2>
    
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/FarmMktLogo.png", width:"45%", class: "floatleft") %>
    <p>If you haven't been to our market, you're in for a treat! There's plenty of parking and lots of help from our volunteers. A great way to spend a Saturday morning. More on the market <%= link_to "here.", markets_index_path %> </p> 

    <%#= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/GodLovesNoException.png", width:"85%", class: "image-center", :fetch_format => :auto) %> 
  
    <div class="mt30"></div>
    <div id="newsfeed">
    <!-- start feedwind code --><iframe  height="400"  width="100%" src="http://feed.mikle.com/widget/?rssmikle_url=http%3A%2F%2Fepiscopaldigitalnetwork.com%2Fens%2Ffeed%2F%3Fcat%3D` -6%2C-8&rssmikle_frame_width=300&rssmikle_frame_height=400&frame_height_by_article=0&rssmikle_target=_blank&rssmikle_font=Arial%2C%20Helvetica%2C%20sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=on&text_align=left&text_align2=left&corner=off&scrollbar=on&autoscroll=on&scrolldirection=up&scrollstep=3&mcspeed=20&sort=Off&rssmikle_title=on&rssmikle_title_bgcolor=%230066FF&rssmikle_title_color=%23FFFFFF&rssmikle_item_bgcolor=%23FFFFFF&rssmikle_item_title_length=55&rssmikle_item_title_color=%230066FF&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=150&rssmikle_item_description_color=%23666666&rssmikle_item_date=gl1&rssmikle_timezone=Etc%2FGMT&datetime_format=%25b%20%25e%2C%20%25Y%20%25l%3A%25M%20%25p&item_description_style=text%2Btn&item_thumbnail=full&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off&" scrolling="no" name="rssmikle_frame" marginwidth="0" marginheight="0" vspace="0" hspace="0" frameborder="0"></iframe><div style="font-size:10px; text-align:center; "><a href="http://feed.mikle.com/" target="_blank" style="color:#CCCCCC;">RSS Feed Widget</a><!--Please display the above link in your web page according to Terms of Service.--></div><!--  end  feedwind code -->
    </div>
  </div>
  <div class="col col-md-4 col-sm-6 sidebar">

  <h2><%= link_to image_tag("http://login.create.net/images/icons/user/facebook-b_130x50.png"),"https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133/" %></h2>
    <p><%= Date.current.to_formatted_s(:long) %></p>
     
      <%= cl_image_tag("UpdateRed_fmhsxv.png", width: "85%", class: "image-center") %>
      <div class="mt30"></div><%= cl_image_tag("DwayneMug_hae91z.jpg", width: "85%", class: "image-center") %>
        <p><strong>Greet our former associate rector,</strong> the Rev. Dwayne Varas, who will speak at our Jubilee! Winter Festival on Sunday Feb. 26.
        </p>
     
      
      <%#= cl_image_tag("TodTeaching_jxhbzy.png", width: "90%", class: "image-center") %>

      <%#= cl_image_tag("UpdateBlue_hipvew.png", width: "95%", class: "image-center top") %>
  <p>Join us in <strong>adult Sunday School, </strong> where we are discussing the <em>"Spirituality of Intimacy.</em> It's at 9 a.m. Sundays, resuming Feb. 12, in the parish hall; all are welcome.</p>
  <p><strong>Fr. Tad and his wife, Ann,</strong> also a priest, lead the discussion and it's not just for married couples, but anyone wanting to explore the spiritual side of relationships with other human beings. <%= link_to "Read the lectures given to date here.", formation_talks_path %></p><br>
   
    
      <!-- <p> Lots of photos of our <strong> Christmas pageant</strong>  and the Jan. 1 celebration of Haitian independence are posted on our Facebook page! <%#= link_to "Click here to see them", "https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133/" %> and be sure to become our "friend" and invite others.</p> <br> -->
      <%#= cl_image_tag("GirlDog_m2lsjj.png", width: "100%", :fetch_format => :auto) %>
    
   <!-- <p>If you missed the great writeup on the blessing of the animals at St. Paul's in the <em>Naples Daily News,</em> <%#= link_to "here's a link to it.", "http://www.naplesnews.com/story/news/local/2016/11/26/blessed-dogs-east-naples-church/94270168/" %> Lots of pictures and a video!</p> -->

         <%= cl_image_tag("togetherLogo_grjbrm.png", width: "95%", class: "image-center") %>
        
      <p><strong>There's a place for you</strong> to exercise your ministry at Saint Paul's! In this, our Jubilee! year, we wish to add 50 new ministries! We are the hands and feet of the Risen Lord in the modern world that is in great need. Some of our ministries are <%= link_to 'listed here.', opportunities_path %></p>
     <br>
<%= cl_image_tag("logos/nameTag.png", width: "55%", class: "image-center") %>
 <p>Wearing you <strong> name tag </strong> is an act of hospitality!  We want visitors and our members to feel comfortable at services and coffee hour. If you don't have a name tag, call the office during the week.</p> 
<p><strong>
Coffee and snacks </strong>are available during fellowship time after each Sunday service in the parish hall. Parishioners provide the goodies, and you can sign up to share in this expression of love.</p>
  <p><strong>Get the Weekly Update in your email box </strong> <%= link_to "by signing up here.", 'http://visitor.r20.constantcontact.com/d.jsp?llr=ip9lo9eab&p=oi&m=1104694077928&sit=ywgju8zfb&f=515707c1-0d44-46a0-803a-2fcb34db78a2' %></p> 
    <br>
      <%=link_to cl_image_tag("Calendar-clip_zbdtul.jpg", width: "55%", class: "image-center", :fetch_format => :auto), 
      pages_calendar_path %>
      <h3>Click calendar to see our activities</h3>
  </div>
</div>



<!--  <a href="http://www.episcopalrelief.org/" target="blank"><img width="99%" height="96" vspace="4" border="0" align="bottom" class="image-center" alt="" src="http://www.episcopalrelief.org/uploaded/images/Press-and-Resources/Link-To-Us/Logo-Link.gif" /></a>
</div> -->

