
<%= render 'slick' %>
<div class="row">
  <div class="col-lg-8 col-sm-12 main-body">
    <h1 id="welcome">All are welcome to worship with us</h1>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/Cross.jpg", width:"200", class: "floatleft") %>
    <h2>Sunday 8 and 10 a.m.</h2>
    <p>Nursery available during the second service. An adult education group will begin a new offering in October. </p><br>
    <p><strong><em>Haitian Episcopalian Service</em></strong> Sundays 5 p.m.<%= link_to "(for information in Creole, click here)", pages_haitian_path %>   </p>
    <br>
    <p><em><strong> Directions: </strong> </em> We are at 3901 Davis Boulevard, a couple of blocks east of Airport Road.</em><h3>Need a map? <%= link_to "Click here", 'pages/directions' %>.</h3> </p>
    <p>To learn about our worship service and about the<strong> <em>Episcopal Church,</em></strong> <%=link_to "click here", worship_index_path%>. And click on that shelf of red books to get a short, cute introduction to our time-honored Book of Common Prayer.</p> 
    
    <h3 class="text-center"><%= link_to "Click for Scripture Readings", "http://www.lectionarypage.net"  %></h3>
    
    <%#= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/newFMsign.jpg", width:"80%", class: "image-center") %>
    <h1> Home of the friendly Farmers&rsquo; Market </h1>
    
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/FarmMktLogo.png", width:"30%", class: "floatright") %>
    <p>This is the church where the great tradition of a farmers&rsquo; market flourishes each Saturday morning during "the season," November through April.</p>
    

    <div class="mt30"></div>
    
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/GodLovesNoException.png", width:"85%", class: "image-center") %>
    <br>
    
    <div id="newsfeed">
    <!-- start feedwind code --><iframe  height="400"  width="100%" src="http://feed.mikle.com/widget/?rssmikle_url=http%3A%2F%2Fepiscopaldigitalnetwork.com%2Fens%2Ffeed%2F%3Fcat%3D-6%2C-8&rssmikle_frame_width=300&rssmikle_frame_height=400&frame_height_by_article=0&rssmikle_target=_blank&rssmikle_font=Arial%2C%20Helvetica%2C%20sans-serif&rssmikle_font_size=12&rssmikle_border=off&responsive=on&text_align=left&text_align2=left&corner=off&scrollbar=on&autoscroll=on&scrolldirection=up&scrollstep=3&mcspeed=20&sort=Off&rssmikle_title=on&rssmikle_title_bgcolor=%230066FF&rssmikle_title_color=%23FFFFFF&rssmikle_item_bgcolor=%23FFFFFF&rssmikle_item_title_length=55&rssmikle_item_title_color=%230066FF&rssmikle_item_border_bottom=on&rssmikle_item_description=on&item_link=off&rssmikle_item_description_length=150&rssmikle_item_description_color=%23666666&rssmikle_item_date=gl1&rssmikle_timezone=Etc%2FGMT&datetime_format=%25b%20%25e%2C%20%25Y%20%25l%3A%25M%20%25p&item_description_style=text%2Btn&item_thumbnail=full&item_thumbnail_selection=auto&article_num=15&rssmikle_item_podcast=off&" scrolling="no" name="rssmikle_frame" marginwidth="0" marginheight="0" vspace="0" hspace="0" frameborder="0"></iframe><div style="font-size:10px; text-align:center; "><a href="http://feed.mikle.com/" target="_blank" style="color:#CCCCCC;">RSS Feed Widget</a><!--Please display the above link in your web page according to Terms of Service.--></div><!--  end  feedwind code -->
    </div>
  </div>

  <div class="col-lg-4 col-sm-12 sidebar"><!--removed sidebar and added well and sm -->
  <!--http://ssje.org/word/?feed=rss2 -->
    <p><%= Date.current.to_formatted_s(:long) %></p>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/update.png", width: "95%", class: "image-center") %>
      
      <p>A concert to benefit <strong>St. Matthew's House</strong> will be held Sunday, Sept. 18 at East Naples United Methodist Church on Airport Road just north of Tamiami Trail. The 3 p.m. concert will feature performances by the music directors of seven local churches, including our own Eleanor Phelps, Dan Dickout and Sally Blanchard. Sponsors are the East Naples Ecumenical Clergy Group.</p>

 <p>Wearing you <strong> name tag </strong> is an act of hospitality! Need a new magnetic name tag? Let Deb know by September 30 and she'll order one for $8. Please wear the name tags. We want new members and our regular members to feel comfortable at services and coffee hour. </p>
<p>
Coffee and snacks are available during fellowship time after each Sunday service in the parish hall. Parishioners provide the goodies, and you can sign up to share in this expression of love. Small donations help us keep the coffee flowing and supplies on hand.</p>
    
    <br>
    <%= cl_image_tag("togetherLogo_grjbrm.png", width: "95%", class: "image-center") %>
    <p><strong>There's a place for you</strong> to exercise your ministry at Saint Paul's! Chat with Fr. Bill or one of the members of the vestry to get started. Some of our ministries are <%= link_to 'listed here', opportunities_path %></p>
    <br>

   <!-- <%#= cl_image_tag("logos/nameTag.png", width: "90%", class: "image-center") %>
    <p>It's an act of <strong>hospitality</strong> to wear your name tag! If you don't have one, call the office during the week.</p> -->
  
    <p><strong>Get the Weekly Update in your email box </strong> <%= link_to "by signing up here.", 'http://visitor.r20.constantcontact.com/d.jsp?llr=ip9lo9eab&p=oi&m=1104694077928&sit=ywgju8zfb&f=515707c1-0d44-46a0-803a-2fcb34db78a2' %></p>
    <br>
      <%=link_to cl_image_tag("2016calendar_r6clxj.jpg", width: "95%"), 
      pages_calendar_path %>
      <h3>Click on calendar <br> to see activities</strong></h3>
  </div>
</div>


<div class="row">

<!--  <a href="http://www.episcopalrelief.org/" target="blank"><img width="99%" height="96" vspace="4" border="0" align="bottom" class="image-center" alt="" src="http://www.episcopalrelief.org/uploaded/images/Press-and-Resources/Link-To-Us/Logo-Link.gif" /></a>
</div> -->

<div class="hidden">



  Yale University's Lectures on the New Testament, delivered by Dale B. Martin, PhD, the Woolsey Professor of Religious Studies at Yale University.
 
  1.  From Stories to Canon
  2.  The Greco-Roman World
  3.  Judaism in the First Century
  4.  The New Testament as History
  5.  The Gospel of Mark
  6.  The Gospel of Matthew
  7.  The Gospel of Thomas
  8.  The Gospel of Luke
  9.  The Acts of the Apostles
 10.  Johannine Christianity: The Gospel
 11.  Johannine Christianity: The Letters
 12.  The Historical Jesus
 13.  Paul as Missionary
 14.  Paul as Pastor
 15.  Paul as Jewish Theologian
 16.  Paul's Disciples
 17.  Arguing with Paul?
 18.  The "Household" Paul: The Pastorals
 19.  The "Anti-household" Paul: Thecla
 20.  Interpreting Scripture: Hebrews
 21.  Interpreting Scripture: Medieval Interpretations
 22.  Apocalyptic and Resistance
 23.  Apocalyptic and Accommodation
 24.  Ecclesiastical Institutions: Unity, Martyrs and Bishops
 25.  The "Afterlife" of the New Testament and Postmodern Interpretation
  </div>
  </div>
  
<!--The survey will take less than ten minutes to complete, and must be completed all at one time.  You cannot complete part of the survey, then return and complete it.

 All answers are strictly anonymous.  We have no way of matching any answers to a particular person, so please feel free to candidly share your perceptions, opinions and experiences. Our future together is dependent on your participation and honest answers.-->
