<div class="row">
  <figure>
  <%= cl_image_tag("flower_cross_t7ebth.jpg", width: '99%') %>   
    <figcaption>
    <p><strong>On Easter Sunday </strong> we placed flowers on the empty cross of the Risen Jesus! More photos of our Easter celebration are on our Facebook page <%= link_to "here.", "https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133/" %>  </p>
    </figcaption>
  </figure>
</div>
<div class="row">
  <div class="col col-md-8 col-sm-12 main-body">
  <h1>Come worship with us!</h1>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/Cross.png",
        width:"220", class: "floatleft") %>  
  <p><strong>8 a.m.</strong> Holy Eucharist, Rite I </p>
  <p><strong>10 a.m.</strong> Holy Eucharist, Rite II</p>
    <div class="mt-20">
      <small>Children's nursery/Sunday school </small>
    </div>
  <p> <strong>5 p.m.</strong> Holy Eucharist (in Creole) <%= link_to 'Click for information 
    about our Haitian community', pages_haitian_path %></p>
  <div class="mt30"></div>
    <p><strong><%= link_to "Click here for Scripture Readings", 
    "http://www.lectionarypage.net" %></strong> </p>
    <p><em><strong> Directions: </strong> </em> We are at 3901 Davis Boulevard, a couple of blocks east of Airport Road.</em> Need a map? <%= link_to "Click here.", pages_directions_path %></p>
    <p>To learn about our worship service and about the<strong> <em>Episcopal Church,</em></strong> <%=link_to "click here", worship_index_path%>. And click on that shelf of red books to get a short, cute introduction to our time-honored Book of Common Prayer.</p>
  <h2>Home of the Farmers' Market</h2>
    <%= cl_image_tag("mktLogo_ggxhct.png", class: "floatleft", width: "35%") %>
    <p>The market is now open for the season, every Saturday morning through April 21, 8 a.m. to noon.</p>
   <p> 
    For more information on the market, <%= link_to "click here.", markets_index_path %></p>
  <div class="clearall"></div>
  <div class="mt30"></div>
  <h2>Supporters of Tumaini Fund</h2>
    <%= cl_image_tag("SusanWilson_dvvx0e.jpg", width: "70%", class: "floatright") %>
    <p>Dr. Susan Wilson, an English family physician, is full of energy and zeal for the Lord. She founded <em>Tumaini </em>(the word means "hope") <em>Fund </em> to put her faith to work in the AIDS-ravaged Kagera region of Northwest Tanzania. There she established an orphanage for thousands of children who lost their moms and dads to AIDS. She spoke at both services on Sunday, March 11, and collected money and 34 dresses made by the ladies of our church, the ECW (Episcopal Church Women).</p>
  <p>Parishioners Mike Moore and Roger Conant are directors for the fund in the United States.
  </p>
  <%#= cl_image_tag("jubileeButton_omxlnw.jpg", width: "25%", class: 'floatleft') %>
   <!--    <div class="mt100"></div>
      <h2>What's Jubilee! all about?</h2>
      <p><%#= link_to "Click here to find out", jubilee_plans_path %></p>
    <div class="clearall"></div> -->
    <div class="clearall"></div>
    <div class="mt30"></div>
     <h2> <%= link_to "Supporters of 'ERD'", "https://episcopalrelief.org/" %></h2>
       <%= cl_image_tag("ERD_vcwkbd.jpg", :width=>404, :crop=>"scale", :class=>"floatleft") %>
       <p>Episcopal Relief and Development is a charity you can trust to use your resources wisely and lovingly. Click the headline to make a donation to help.</p> 
       <div class="clearall"></div>
    <div class="mt30"></div>
      <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/GodLovesNoException.png", 
	width:"95%", class: "image-center", :fetch_format => :auto) %>
    <div class="mt30"></div>
    <div id="newsfeed">
    <iframe src="https://feed.mikle.com/widget/v2/48019/" width="100%" height="500px"></iframe>
    </div><!--  end  newsfeed -->
    <!--<div>
    <a href="http://www.episcopalrelief.org/" target="blank"><img width="65%" vspace="4" 
	border="0" align="bottom" class="image-center" alt="" src="http://www.episcopalrelief.org/
	uploaded/images/Press-and-Resources/Link-To-Us/Logo-Link.gif" /></a>
    </div>-->
  </div><!--main-body -->
  <div class="col col-md-4 col-sm-8 sidebar">
    <%= link_to cl_image_tag("FindFB_ovw6ax.jpg", class: "image-center", width: "100%"),
	"https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133/" %>
      <p><%= Date.current.to_formatted_s(:long) %></p>
      <%= cl_image_tag("logos/update.png", width: "90%", class: "image-center") %>

   <%= cl_image_tag("ParishProfilePDF_cover_hymh4t.png", width: "100%") %>
   <article>
    <h2>Search under way<br>For new rector</h2>

    <p>With the publication of our newly created parish profile on our diocesean website, our search for a rector has begun. <%= link_to  "Click to download a copy of the profile", "http://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1522935596/ParishProfile_vs6vjv.pdf.jpg.pdf" %> </p>
      <p>
      A seven-person search committee was formed by the vestry and charged to recommend three priests for the position. The vestry makes the final choice from this list.</p>
      <p>The profile is among the documents that candidates receive in order to learn about our parish, and includes a brief history, our ministries and our desires.</p>
      <p>Input from a parish survey and the work of a long-range planning team was used as the basis, so parishioners' opinions and expressions are represented.</p>
      <p>If you know of a priest who would make a good rector for St. Paul's, get that person to read the profile and follow the procedure outlined for submission of materials to the diocese.</p>
      <p>The Rev. Canon Mike Durning, who knows our parish well, is helping us in this effort. </p> 
    <p>Our priest-in-charge, the Rev. Dr. D. William Faupel, ("Fr. Bill") has decided 2018 will be his last year in that role. We will continue to celebrate his leadership and generosity of spirit while we await what God has in store for us.</p>  
    <!-- is to have 50 parishioners engaged in our sponsorship drive for our kids at the el Buen Samaritano children's shelter in the Dominican Republic. Participation will range from full scholarships at $275 each down to a number that meets your preference. <%#= link_to "Click here to donate", new_sponsorship_path %> (The donation page is still under construction; please come back later)</p>-->

    
    <div class="mt30"></div>
     
      <%= cl_image_tag("togetherLogo_grjbrm.png", width: "95%", class: "image-center") %>
      <p><strong>There's a place for you</strong> to exercise your ministry at Saint Paul's! We are the hands and feet of the Risen
       Lord in the modern world that is in great need. Some of our ministries are
       <%= link_to 'listed here.', opportunities_path %></p>
      <div class="mt30"></div>
     <%= cl_image_tag("logos/nameTag.png", width: "55%", class: "image-center") %> 
      <p>Wearing your <strong> name tag </strong> is an act of hospitality!  We want visitors 
	and our members to feel comfortable at services and coffee hour. If you don't have a name 
	tag, call the office during the week.</p>
        <div class="mt30"></div>
      <p><strong>Get the Weekly Update in your email box </strong> <%= link_to "by signing up here.", 
	'http://visitor.r20.constantcontact.com/d.jsp?llr=ip9lo9eab&p=oi&m=1104694077928&sit=ywgju8zfb&f=515707c1-0d44-46a0-803a-2fcb34db78a2' %></p>
      <div class="mt30"></div>
      <%=link_to cl_image_tag("Calendar-clip_zbdtul.jpg", width: "55%", class: "image-center", 
	:fetch_format => :auto), pages_calendar_path %>
      <h3>Click calendar to see our activities</h3>
      <div class="mt30"></div>
  </div><!-- sidebar -->
<!-- row -->

