
<div class="row">
  <div class="col col-lg-12">
    <figure>
      <%= cl_image_tag("delegates2018_gvrobm.jpg", width: "100%") %>
      <figcaption>
        Our deligates to the 2018 convention of the Diocese of Southwest Florida posed Saturday (Oct. 13) for this photo. From left are Sr. Warden Dick Breithaupt, Alan Cragg, Don Anderson, Fr. Panel Guerrier, Charlene Connolly, Fr. Tom Thoeni, who joined us Nov. 1 as rector-elect, and Priest-in-Charge Fr. Bill Faupel. See "Presiding bishop...", below.</figcaption>
    </figure>
    <%#= render 'pages/carousel' %>
    <%#= render 'new_rector' %>
  </div>
</div>
<div class="row">
  <div class="col col-md-8 col-sm-12 main-body">
  <h1>Come worship with us!</h1>
  <h2>Sundays</h2>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/Cross.png", width:"220", class: "floatleft") %>

  <p><strong>8 a.m.</strong> Holy Eucharist, Rite I </p>
  <p><strong>10 a.m.</strong>Holy Eucharist, Rite II </p>
  <div class="mt-20">
      <small>Children's nursery/Sunday school available</small>
    </div>
  <p> <strong>5 p.m.</strong> Holy Eucharist (in Creole) <%= link_to 'Click for information
    about our Haitian community', pages_haitian_path %></p>
  <div class="mt30"></div>
    <p><strong><%= link_to "Click here for Scripture Readings",
    "http://www.lectionarypage.net" %></strong> </p>

    <p><em><strong> Directions: </strong> </em> We are at 3901 Davis
      Boulevard, a couple of blocks east of Airport Road.</em> Need a map?
      <%= link_to "Click here.", pages_directions_path %></p>
    <p>To learn about our worship service and about the<strong> <em>Episcopal
      Church,</em></strong> <%=link_to "click here", worship_index_path%>.
      And click on that shelf of red books to get a short, cute introduction
      to our time-honored Book of Common Prayer.</p>
      <h2>Home of the Farmers' Market</h2>
      <%= cl_image_tag("mktLogo_ggxhct.png", class: "floatleft", width: "35%") %>
      <p>The market is open for the 2018-19 season. Check out our gift shop and Unique Boutique while you're enjoying the block party atmosphere of our dog-friendly market. The market is open every Saturday morning through April, 8 a.m. to noon.</p>
     <p>For more information on the market, <%= link_to "click here.",
       markets_index_path %></p>
      <div class="clearall"></div>
      <div class="mt30"></div>
<%= image_tag("https://s3.amazonaws.com/dfc_attachments/public/documents/3256935/Bishop_Smith_and_Curry.jpg", width:"50%", class: "floatright") %>
<h2>Presiding bishop celebrates diocese</h2>
    <p>Presiding Bishop Michael Curry spoke and preached at the 2018 annual convention of our diocese. In addition to our delegates, pictured above, a busload of St. Paul's folks got to hear the bishop, best known for his sermon at the royal wedding and for branding our church as "the Episcopal branch of the Jesus Movement." Click below to see a recording of his talk and the worship service.</p>
    <p><%= link_to "Keynote by Bishop Curry","https://vimeo.com/295435060" %></p>
    <p> <%= link_to "Worship service and sermon by Bishop Curry", "https://vimeo.com/295403697" %>
    </p>
      <div class="mt30"></div>


  <h2>Supporters of these children</h2>
    <%=cl_image_tag("25_aeyuf2.jpg", width: "420", height: "315", class:
      "floatright") %>
    <p>Episcopalians of the Naples Deanery have been supporting the children at
      a shelter in the Dominican Republic for the last 17 years. The
      <em>Albergue el Buen Samaritano</em> in San Francisco de Macoris, serves
      about a hundred children who would be on the street were it not for the
      shelter. The kids arrive for breakfast, learn their abcs and social skills
      and get lots of love that may otherwise be missing in their young lives.
      It is a ministry of love and affection, above all.</p>
  <h2>Supporters of Tumaini Fund</h2>
    <%= cl_image_tag("SusanWilson_dvvx0e.jpg", width: "70%", class: "floatright") %>
    <p>Dr. Susan Wilson, an English family physician, is full of energy and zeal
      for the Lord. She founded <em>Tumaini </em>(the word means "hope") <em>
      Fund </em> to put her faith to work in the AIDS-ravaged Kagera region of
      Northwest Tanzania. There she established an orphanage for thousands of
      children who lost their moms and dads to AIDS. In addition to monitary contributions, the ladies
      of our church, the ECW (Episcopal Church Women) have sewn numerous dresses for Dr. Wilson to distribute.</p>
    <p>Parishioners Mike Moore and Roger Conant are directors for the fund in
      the United States.</p>
<div class="clearall"></div>
<div class="mt30"></div>
<h2><%= link_to "Supporters of 'ERD'", "https://episcopalrelief.org/" %></h2>
    <%= cl_image_tag("ERD_vcwkbd.jpg", width: '404', crop: "scale", class: "floatleft") %>
<p>Episcopal Relief and Development is a charity you can trust to use your resources wisely and lovingly. Click the headline to make a donation to help.</p>
<div class="clearall"></div>
<div class="mt30"></div>
<%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/GodLovesNoException.png", width:"95%", class: "image-center", fetch_format: "auto") %>
<div class="mt30"></div>

  </div><!--main-body -->
  <div class="col col-md-4 col-sm-8 sidebar">
    <p class="center-text"><%= Date.current.to_formatted_s(:long) %></p>
    <%= link_to cl_image_tag("FindFB_ovw6ax.jpg", class: "image-center",
    width: "99%"),
    "https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133/" %>

  <%= cl_image_tag("logos/update.png", width: "99%", class: "image-center") %>
    <%= link_to cl_image_tag("December2018_tbthgm.jpg", width: "100%"), "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1543925429/December2018_tbthgm.pdf" %>
    <h2>New Pathway<br>
      Available<br>
    </h2>
      <p> Click on the image to read or download and print the latest edition of Pathway, our parish newsletter.</p>
      <div class="mt30"></div>
  <%= cl_image_tag("togetherLogo_grjbrm.png", width: "95%", class: "image-center") %>
    <p><strong>There's a place for you</strong> to exercise your ministry at Saint Paul's! We are the hands and feet of the Risen Lord in the modern world that is in great need. Some of our ministries are
    <%= link_to "listed here.", opportunities_path %> </p>
    <div class="mt30"></div>
    <p><strong>Men's Group</strong> meetings will resume on a new day and time beginning noon Dec. 5. Bring a lunch and be prepared to enjoy some fellowship with the men of the parish.</p><br>
  <%= cl_image_tag("logos/nameTag.png", width: "55%", class: "image-center") %>
    <p>Wearing your <strong> name tag </strong> is an act of hospitality!  We want visitors and our members to feel comfortable at services and coffee hour. If you don't have a name tag, call the office during the week to get one.</p>
    <div class="mt30"></div>
  <%= cl_image_tag("1912588_wbdabz.png", width: "40%", class: "image-center") %>
    <p><strong>Join us for coffee </strong> after the Sunday morning worship service. It's a time for fellowship and to meet new friends. Parishioners bring snacks to share, and there's always plenty for newcomers.</p>
    <div class="mt30"></div>
  <p><strong>Get the Weekly Update in your email box </strong> <%= link_to "by
    signing up here.",
	  'http://visitor.r20.constantcontact.com/d.jsp?llr=ip9lo9eab&p=oi&m=1104694077928&sit=ywgju8zfb&f=515707c1-0d44-46a0-803a-2fcb34db78a2'
    %></p>
    <div class="mt30"></div>
  <%=link_to cl_image_tag("Calendar-clip_zbdtul.jpg", width: "55%", class:
    "image-center", :fetch_format => :auto), pages_calendar_path %>
  <h3>Click calendar to see our activities</h3>
    <div class="mt30"></div>
    <div id="newsfeed">
      <h4>Episcopal News Service</h4>
      <iframe width="100%" height="775" frameborder="0" class="rssdog" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Fwww.episcopalnewsservice.org%2Ffeed%2F%3Fcat%3D-6%252C-8&mode=html&showonly=&maxitems=0&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&linktarget=_blank&textsize=inherit&bordercol=%23d4d0c8&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
    </div><!--  end  newsfeed -->
  </div><!-- sidebar -->
</div><!-- row -->
<div class="mt50"></div>
