<p>
Here's the latest Stripe report:</p>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Stripe Fee</th>
      <th>Net to Church</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @stripe_report.created_at.strftime("%b %_d, %Y") %></td>
      <td><%= @stripe_report.user.username %></td>
      <td><%= number_to_currency(@stripe_report.amount/100.to_i) %></td>
      <td><%= @stripe_report.fee/100.to_f %></td>
      <td><%= @stripe_report.net/100.to_f %></td>
      <td><% if @stripe_report.pledge_id == nil %>
        Donation
        <% else %>
          <%= @stripe_report.pledge.plan %>
        <% end %> </td>
    </tr>
  </tbody>
</table>
<% end %> 


<div class="mt100"></div> 

<p><small>This message is generated automatically when Stripe sends data to our website.</small></p>
