<div class="row">
  <div class="col col-sm-6 col-sm-offset-3"> 

  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>

    <div class="form-group form-inputs">
      <%= f.input :title %>
      <%= f.input :price, label: "Price in pennies per ticket. $21.00 would be input as 2100" %>
      <%= f.date_select :date, id: "datetimepicker1" %>
      <%= f.input :time, placeholder: "Time of event, eg., 7:30 p.m."%>
      <%= f.input :event_picture, as: :attachinary, label: "Add a picture for this event" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
  <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
    </script>
  <script>
$(document).on('page:load', function() {
  window['rangy'].initialized = false
  });
</script>
  </div>
</div>

