<div class="row">
  <div class="col col-sm-6 col-sm-offset-3"> 

  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :price, label: "Price in pennies per ticket. $21.00 would be input as 2100" %>
      <%= f.input :date %>
      <%= f.input :time, label: "Time. Use military time, e.g. 19 for 7 p.m." %>
      <%= f.input :quantity, label: "Quantity of tickets being printed for this event" %>
      <%= f.input :url, label: "link to event picture" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
  </div>
</div>
