

  <h4><%= @characteristic.name %></h4>
  <p><b>Rate this characteristic</b></p>
  <div>
    <%= form_for([@characteristic, @rating]) do |f| %>
        <%= f.hidden_field :characteristic_id, :value => @characteristic.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.radio_button(:score, "unimportant") %>
        <%= f.label(:score, "unimportant") %>
        <%= f.radio_button(:score, "somewhat important") %>
        <%= f.label(:score, 'somewhat important') %>
        <%= f.radio_button(:score, "very important") %>
        <%= f.label(:score, 'very important') %>
        <%= f.radio_button(:score, "essential") %>
        <%= f.label(:score, 'essential') %>
  </div>
    <div class="form-actions">  
      <%= f.button :submit %>
    </div>
    <% end %>
  <%# end %>
  <%# end %>
  
<div class="mt100"></div>
<%= link_to 'Show all characteristics submitted so far', characteristics_path %>
