<div class="row">
  <div class="col col-lg-12">
    <div class="nivo-slider" id="home-slides">
    <%= nivo_slider id: "slider" do %>
      <%= image_tag 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/Composite1.png' %>
      <%= image_tag'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/Composite14.png' %>
      <!--<img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/Composite10.png' />  -->
      <%= image_tag 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/Composite11.png' %>
      <%= image_tag 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/Composite15.png' %>
      <!-- <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/Composite16.png' />  -->
     <%= image_tag 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/Composite19.png' %>
      <!-- <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/Composite21.png' />  -->
      <%= image_tag 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/Composite8.png' %>
     <!-- <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/NewComp1.png' />-->
     <%#= image_tag 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/NewComp2.png' %>
     <%#= image_tag 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/newComp3.png' %>
     <%= image_tag 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/newComp4.png' %>
    <!-- <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/newComp5.png' />
 <img src= 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/homeSlider/newComp6.png' />  -->
     <% end %>
    </div>

  </div>
</div>
 <script type="text/javascript">
  $(document).on('turbolinks:load', function () {
    $('#slider').nivoSlider();
  });
  </script>
