<div class="container">
  <div clas="row">
    <div class="variable-width">

    <!--pageant
  
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/23.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/24.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/25.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/26.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/27.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/29.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/30.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/31.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/32.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/33.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/34.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/35.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/36.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/37.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/12.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/13.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/14.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/15.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/16.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/17.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/18.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/20.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/22.jpg" %></div>-->
  
  <!--general-->
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/55.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/2.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/1.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/10.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/41.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/43.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/44.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/45.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/48.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/49.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/50.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/51.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/52.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/53.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/54.jpg" %></div>
  
<!--mug shots-->
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/3.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/4.jpg" %></div>
  
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/28.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/42.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/47.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/56.jpg" %></div>

<!--farmers'market-->

  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/5.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/6.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/7.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/8.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/9.jpg" %></div>
  
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/38.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/39.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/40.jpg" %></div>
  <div><%= image_tag "https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/SlidesDec2015/46.jpg" %></div>
  
  
  
  
  
  
  
  
  
  
</div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.variable-width').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        centerMode: true,
        variableWidth: true,
        autoplay: true,
        autoplaySpeed: 2000
      });
    });
  </script>