  <ul class="bxslider" id='main-slider'>
    <li><img src='https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite1.png' alt="" class="image-center"/></li>
  </ul>
  
  <div class="main-body">
    <h1>All are welcome to worship with us</h1>
    <%= cl_image_tag("logos/Cross.jpg", width:"200", class: "floatleft") %>
    <p><strong>Sundays</strong> 8 and 10 a.m.</p>
    <p>To learn about our worship service and about the</p>
    <p> <em>Episcopal Church,</em> <%=link_to "click here", worship_index_path %>.</p><br>
    <p>Nursery is available for the 10 a.m. service.</p><br>

    <p><strong><em>Haitian Episcopalian Service</em></strong> Sundays 5 p.m.</p><br>
    <p><strong>Sunday's Scripture Readings:</strong><script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Flectionary.library.vanderbilt.edu%2Ffeeds%2Flectionary.xml&desc=1" type="text/javascript" > </script ></p><br>

    <p class="poem">We are at 3901 Davis Boulevard, a couple of blocks east of Airport Road.</p>
    <p><strong>Need directions?</strong> 
    <%= link_to "Here is a map to St. Paul's", pages_directions_path %> </p><br>
 <h2> Home of the friendly farmers' market </h2>

  <%= cl_image_tag("mktLogo_ggxhct.png", size:"30%", class: "floatright") %>
  <p>This is the church where the great tradition of a farmers' market flourishes. Each Saturday morning during "the season," November through April, a couple thousand neighbors gather to stroll and shop for fresh produce, works of art, books and bagels. Thanks to our many volunteers who work hard behind the scenes to prepare for this big block party, and thanks too to our patrons. We will see you again in November.</p>
   </div>
  <div class="sidebar">
    <%= cl_image_tag("logos/update.png", size: "90%", class: "image-center") %>
    <p><strong>Parish Luncheon </strong>Tuesday, June 9. The luncheon will be held at 11:30 a.m. at Szechuan Chinese Restaurant, 330 Tamiami Trail East, phone number 732-1441. Please sign up in the parish hall. Any questions, contact Van at 330-7377.</p> <br>   

 

 <p><strong>Confirmations </strong>  We are anticipating several confirmations/receptions when Bishop Garrison visits St. Paul's on Sunday June 14. Please plan to attend and stay for the special reception following the service.</p>
<br>
 

<p><strong>Vestry Meeting </strong> will be held in the parish library on Thursday, June 26 at 6:30 p.m.   All members of the parish are welcome to attend.<p>
  </div>
   
