  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
    <%= render 'carousel' %>
  <%#=image_tag 'https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/Composite1.png', width: "100%" %>
    </div>
  </div>
  <div class="main-body">
    <h1>All are welcome to worship with us</h1>
    <%= cl_image_tag("logos/Cross.jpg", width:"200", class: "floatleft") %>
    <p><strong>Sundays</strong> 8 and 10 a.m. Nursery available during the 10 a.m. service. Our current between the services video discussion is on the history of theology. In the library (office building) at 9:10 a.m.</p>
    <p>To learn about our worship service and about the
   <em>Episcopal Church,</em> <%=link_to "click here", worship_index_path%>.</p><br>

    <p><strong><em>Haitian Episcopalian Service</em></strong> Sundays 5:30 p.m.</p>
    <br>
    <p><em><strong> Directions: </strong> </em> We are at 3901 Davis Boulevard, a couple of blocks east of Airport Road.</em> <%= link_to "Here is a map to St. Paul's", pages_directions_path %>. </p><br>
    <p><strong>Sunday's Scripture Readings:</strong><script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Flectionary.library.vanderbilt.edu%2Ffeeds%2Flectionary.xml&desc=1" type="text/javascript" > </script ></p>
    
    <h2>An invitation to learn about your ministry</h2>
    <%= cl_image_tag("logos/EFM_Logo.jpg", class: "floatright", size: "45%") %> 
    <p>The program called "Education for Ministry" is for lay people who want to learn about the bible, the faith and how to fulfill our baptismal promises in the modern world. An invitation to a fuller explanation and an opportunity to enroll is <%= link_to "here",formation_index_path %>. 
 <h2> Home of the friendly farmers' market </h2>

  <%= cl_image_tag("mktLogo_ggxhct.png", size:"47%", class: "floatleft") %>
  <p>This is the church where the great tradition of a farmers' market flourishes. Each Saturday morning during "the season," November through April, hundreds of neighbors gather to stroll and shop for fresh produce, works of art, books and bagels. Thanks to our many volunteers who work hard behind the scenes to prepare for this big friendly block party; and thanks too to our patrons. We will see you again in November.</p>
   </div>
  <div class="sidebar">
    <%= cl_image_tag("logos/update.png", size: "90%", class: "image-center") %>

 <p><strong>A new presiding bishop of the Episcopal Church</strong> will be introduced Saturday at the General Convention of the church in Salt Lake City. Four men, including the bishop of our diocese, Dabney Smith, are candidates to replace The Rt. Rev. Katharine Jeffords Schori, who has held the office for six years.</p>
 <p>A new presiding bishop will be elected June 27 during the General Convention of the church in Salt Lake City.</p>
 <p>Bishop Smith, the Rt. Revs. Thomas E. Breidenthal, bishop of the Diocese of Southern Ohio; Michael B. Curry, bishop of the Diocese of North Carolina; and Ian T. Douglas, bishop of the Diocese of Connecticut  all said they would accept a call to be presiding bishop. It's nothing like a political election, as each extolled the virtues of the others.</p>
 <p> Keep an eye on the newsfeed from the convention at the bottom of this column.</p>
<br>
<p><strong>Vestry Meeting </strong> will be held in the parish library on Wednesday, July 22 at 6:30 p.m.   All members of the parish are welcome to attend. An agenda will be posted about a week before the meeting.</p>

<div id="newsfeed">
  <script type="text/javascript" src="http://output72.rssinclude.com/output?type=js&amp;id=588062&amp;hash=bb2f36d2e14cdc8c15bc0bc2f3cc49dc"></script>
  </div>

  </div>
   
