<h1>Ticket Call List</h1>
<% @tickets.each do |t| %>
<% if t.customer_id.present? %>
<p><strong><%= t.last_name.titleize %>, <%= t.first_name.titleize %></strong> <%= t.email %>, Tickets: <%= t.quantity %>, <%= t.updated_at %></p>
<% end %>
<% end %>
<p>Running count of tickets sold: <%= @tickets.where("customer_id != ''").sum(:quantity) %>
