<h1>Ticket Call List</h1>

<p>Running count of tickets sold:
<%= @tickets.where.(["checkout = '%s' and event = '%i'", "paid",  11]).sum(:quantity) %></p>

<h2>customers</h2>
  <% @tickets.where(["checkout = '%s' and event = '%i'", "paid",  11]).each do |t| %>
    <p><strong><%= t.last_name.titleize %>, <%= t.first_name.titleize %></strong> <%= t.email %>, <%= pluralize(t.quantity, 'ticket') %>, purchased on <%= t.updated_at.strftime('%A, %B %e, %Y') %> at <%= t.updated_at.strftime('%I:%M %p') %></p>
  <% end %> 
