<div class="mt100"></div> 
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= cl_image_tag("BillyDeanDawnWebPic_lbnaum.jpg", width: "40%", class: "image-center") %>
    <h1><%= @event.title %></h1> 
    <p><%= @event.date.strftime('%A, %B %e, %Y') %>, <%= number_to_currency @event.price*0.01 %> per ticket. </p>
      <%= simple_form_for([@event, @ticket]) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.hidden_field :price, :value => @event.price %>
        <%= f.hidden_field :event_id, :value => @event.id %>
        <%= f.input :first_name %> &nbsp;<%= f.input :last_name %> <br>
        <%= f.input :quantity, label: "Number of tickets" %>
      </div>
      <div class="honey">
        <%= f.input :honey %>
      </div>
      <div class="form-actions">
        <%= f.button :submit,  "Create order", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
  