<p id="notice"><%= notice %></p>

<h1>Donations</h1>

    <% @donations.each do |donation| %>

  <%= number_to_currency donation.amount %>&nbsp;<%= donation.user.username.titleize %>&nbsp;<% if donation.anonymous? %>Anonymous!<% end %>
  <%= link_to 'Show', donation %> <%= link_to 'Edit', edit_donation_path(donation) %> <%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %><br>

    <% end %>

<br>

<%= link_to 'New Donation', new_donation_path %>
