<h1><%= @donation.user.username.titleize %>'s donation is <%= formatted_amount @donation.amount %></h1>
<div class="text-center" max-width="400px">
<%= button_to "Pay now", checkout_create_url, method: :post, remote: true, params: {id: @donation.id}, class: "btn btn-success btn-lg" %>
</div>
<div class="mt-5 mb-5"></div>

<% if current_user == @donation.user %>
<%= link_to 'Edit', edit_donation_path(@donation) %> | 

<%= link_to 'Cancel this donation', new_donation_path %>
<% end %>
