<p id="notice"><%= notice %></p>

<h1>Candidates</h1>
  <% @candidates.each do |candidate| %>
    <h2><%= candidate.full_name %></h2>
<!--      <%# if candidate.links_narrative.present? %>
        <p><%#= candidate.links_narrative %></p>
      <%# else %>
        <p>No links for this candidate yet</p>
      <%# end %>    
    <p><%#= link_to "Link", candidate.link1 if candidate.link1? %><br>
     <%#= link_to "Link", candidate.link2 if candidate.link2? %><br>
     <%#= link_to "Link", candidate.link3 if candidate.link3? %><br></p>    
  <section id="comments-section"> -->
    <h4>My thoughts so far about this candidate</h4>
      <% if candidate.comments.where(:user == current_user).present? %>
        <% comment = candidate.comments.where(:user == current_user).first %>
        <%= comment.body %><br>
    
        <%= link_to "Update my thoughts about this candidate", edit_comment_path(@comment) %> |  <%= link_to "See others' comments about this candidate", candidates_path %>
      <% else %>
        <%= render 'comments/form', locals: {commentable: @candidate} %>
        <%= link_to "See others' comments about this candidate", candidates_path %>
  
    <% end -%>          
  
 
  <hr>
<br>
  <% end %>
