<div class="clearall"></div>
  <div class="row">
    <div class="col-lg-8 offset-2">
    <%= image_tag @candidate.photo_link, class: "image-center", width: "60%" %>
    <h1><%=@candidate.full_name %></h1>
    <h3>Links to social media</h3>
      <p><%= simple_format @candidate.links_narrative %></p>
      <p><small>
        <%= link_to "Link1", @candidate.link1 %>  &nbsp; &nbsp;
        <%= link_to "Link2", @candidate.link2 %> &nbsp; &nbsp;
        <%= link_to "Link3", @candidate.link3 %> &nbsp; &nbsp;
        <% if @candidate.link4? %>
          <%= link_to "Link4", @candidate.link4 %>
        <% end %>  </small></p>
      <section id="comments-section">
        <p><strong>Search team members' comments about Fr. <%= @candidate.last_name %></strong></p>
        <%= render partial: 'comments/comments', locals: {commentable: @candidate} %>
      </section>
      <% if @candidate.comments.where(user: current_user).empty? %>
        <p><b>Make your opinions known to the vestry </b></p>
        <%= render partial: 'comments/form', locals:{commentable: @candidate} %>
      <% end %>
      <br>
      <%= link_to 'See all candidates', candidates_path %>
     </div>
  </div>
