<h3>Thanks a lot, <%= @ticket.first_name.titleize %></h3>
<p><strong>We'll have <%= pluralize(@ticket.quantity, "ticket") %> in
your name waiting for you at the door. Join us for the <%= @ticket.event.title %>,  <%= @ticket.event.time %>, <%= @ticket.event.date.strftime('%A, %B %e, %Y') %>. </strong></p>
<p>We hope you enjoy the show.</p
