<h3>Thanks a lot, <%= @ticket.first_name.titleize %></h3>
<p><strong>We'll have <%= pluralize(@ticket.quantity, "ticket") %> in 
your name waiting for you at the door. Join us for the <%= @ticket.event.title %>,  <%= @ticket.event.time %>, <%= @ticket.event.date.strftime('%A, %B %e, %Y') %>. </strong></p>
<p>We hope you enjoy the dinner, and thank you for celebrating Jubilee! with us.</p>
<p> If you have any special dietary concerns or wish to be seated with specific persons, call Connie Cunningham at 239-793-8236.</p>