
<%= simple_form_for(@book) do |f| %>
 
  <div class="form-group">
    <%= f.input :author, class: 'form-control' %>
    <%= f.input :title, class: 'form-control' %>
    <%= f.input :subject, class: 'form-control' %>
    <%= f.input :isbn, class: 'form-control' %>
    <%= f.input :dewey, class: 'form-control' %>
    <%= f.input :description, class: 'form-control' %>
    <%= f.input :url, class: 'form-control' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<p><small>The "url" field is to be used for linking to photos when the wrong picture appears in the link</small></p>
