
  <h1>Listing books</h1>
    <% @books.each do |b| %>
      <p>Author: <b><%= b.author %>,</b> title:  
          <%= b.title %>, Where to find book:
          <%= b.dewey %> <%= b.cutter %>
          <%= link_to 'show', book_path(b) %>

            <% if current_user && current_user.has_role?(:admin) %>
              <%= link_to ' | edit', edit_book_path(b) %>
              <%= link_to ' | delete', b, method: :delete, data: 
              { confirm: 'Are you sure?' } %><br>
            <% end %>  
    <% end %> 
    <div class="mt100"></div>   

      <%# if current_user && current_user.has_role?(:admin) %>
       <!-- <p><strong><%#= link_to 'Add a book', new_book_path %></strong></p>
      <%# end %> -->

        <div class="mt100"></div>
  
 
        <h4>Import data</h4>
          <%= simple_form_for @import, url: import_books_path, multipart: true do |f|%>
            <% if @import.errors.any? %>
              <div class="alert alert-error">
                <% @import.errors.full_messages.each do |msg| %>
                  <div><%= msg %> </div>
                <% end %>
            <% end %>
          <%= f.file_field :file %><br>
          <%= f.submit  "Upload books" %>
          <% end %>
      





  <div class="mt100"></div>
  <p>
  Download file to print dewey labels:
  <%= link_to "CSV", books_path(format: "csv") %>
  </p>