<p id="notice"><%= notice %></p>
<div class="mt100"></div>

  <div class="row">
    <div class="col col-md-3 col-md-offset-1">
      <div class="image-center">
        <% if @book.url.present? %>
        <%= image_tag(@book.url, width: "265") %>

          <% else %>
          <%= image_tag("https://covers.openlibrary.org/b/isbn/#{@book.isbn}-L.jpg", width: "265") %>
          <% end %>
      </div>
    </div>

    <div class="col col-md-6 col-md-offset-1">

      <p> <strong>
        <%= @book.title.titleize %></strong><br>
        <em><%= @book.author.titleize %><br></em>
        <%= @book.subject %><br>
        <%= @book.description %><br></p>
        
        <p> Label on this book: <%= @book.dewey %> / <%= @book.cutter %></p>
    

      <% if current_user && current_user.has_role?(:admin) %>
      <p><strong><%= link_to "Edit", edit_book_path %> </strong><br></p>
      <% end %>
      
      <p><%= link_to 'Search for a different book', books_path %></p>
    </div>
    <div class="mt100"></div>

