
<div class="main-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @book.author.titleize %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title.titleize %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @book.subject %>
</p>

<p>
  <strong>Description</strong>
  <%= @book.description %>

<p>
  <strong>Dewey:</strong>
  <%= @book.dewey %>
</p>
<% if @book.url.present? %>
  <%= image_tag(@book.url, size: "300x435") %>
  <% else %>
  <%= image_tag(@cover_image.image_link(:zoom => 2), size: "300x435")%><br>  
<% end %>

<p><strong><%= link_to "Edit", edit_book_path %> </strong><br></p>

<%= link_to 'Back', books_path %>
