<p id="notice"><%= notice %></p>
<div class="mt100"></div>

  <div class="row">
    <div class="col col-md-3 col-md-offset-1">
      <div class="image-center">
        <% if @book.url.present? %>
          <%= image_tag(@book.url, width: "300") %>
          <% else %>
          <%= image_tag(@cover_image.image_link(:zoom => 2), width: "300")%><br>  
        <% end %>
      </div>
    </div>

    <div class="col col-md-6 col-md-offset-1">

      <p> <strong>
        <%= @book.title.titleize %><br>
        <%= @book.author.titleize %><br>
        <%= @book.subject %><br>
        <%= @book.description %><br>
        </strong></p>
        <p> Find the book: <%= @book.dewey %> </p>
    

      <% if current_user && current_user.has_role?(:admin) %>
      <p><strong><%= link_to "Edit", edit_book_path %> </strong><br></p>
      <% end %>
      
      <p><%= link_to 'Search for a different book', books_path %></p>
    </div>


