<div class="page">
  <header><img id="home-logo" src="https://s3.amazonaws.com/saintpaulsnaples/logos/New_StPaul_Logo.jpg" width="325px"></header><div class="clearall">
</div>
<div class="main_body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @book.subject %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Dewey:</strong>
  <%= @book.dewey %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
