<div class="page">
<%= render 'layouts/header' %>
<div class="main_body">

<h1>Homilists in the database</h1>

<table class="table table-striped">
    <% @homilists.each do |homilist| %>
      <tr>
        <td><%= homilist.name %></td>
        <td><%= homilist.title %></td>
        <td><%= link_to 'Edit', edit_admin_homilist_path(homilist), class: 'btn btn-primary' %>  
        <%= link_to 'Destroy', admin_homilist_path(homilist), class: 'btn btn-danger' method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a preacher', new_admin_homilist_path, class: 'btn btn-primary pull right' %>

</div>
<%= render 'layouts/footer' %>
