<%= simple_form_for @agenda do |f| %>
  <div class="mb-3">
    <h2>Meeting date</h2>
    <%= f.input :meeting_date, as: :string, input_html: { data: 
      { controller: 'flatpickr' } } %>
  </div>

  <div class="mb-3">
    <%= f.simple_fields_for :agenda_items do |item| %>
  <h2>Agenda Items</h2>
    <%= item.input :_destroy, as: :hidden %>
    <%= item.input :title, placeholder: "Line item" %>
    <% end %>
    
  </div>
  <div class="mb-3">

  </div>
  <%= link_to "Add line item", "#", data: { action: "agenda#add_item" } %>    
  <div> 
    <%= f.submit "Save items", class: "btn btn-success" %>  
  </div>
<% end %>
</div>
