
<div class="row">
  <div class="col-md-10 col-md-offset-1">

  <div class="example">
    <%= bootstrap_form_for @formation_talk, html: { multipart: true } do |f| %>  
      <div class="form-group">
        <%= f.input :title, class: 'form-control' %> 
        <%= f.date_select :delivered_on,  data: { behavior: "flatpickr" } %><br>
        <%= f.input :body, as: :ckeditor %>
        <%= f.button :submit %>   
    <% end %>
      </div>
  </div>
  
    
  </div>
</div>
