<h4>Import data</h4>
    <%= bootstrap_form_for @import, url: import_letters_path, multipart: true do |f|%>
 
     

      <%= f.file_field :file %>
      <%= f.submit  "Upload letters" %>
    <% end %>

  <div class="mt100"></div>

<% @letters.each do |letter| %>
 <p> <%= letter.salutation %> <%= letter.last_name %> <%= letter.zip %> <%= letter.writer %>
   <%= link_to "Edit", edit_letter_path(letter) %></p>
<% end %>
