<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= story.user.username %>
  </p>

  <p>
    <%= story.body %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= story.status %>
  </p>

</div>