
<div class="row">
  <div class="col-md-12">

  <% if @sermon.errors.any? %>
    <div class="alert alert danger">
      <h2><%= pluralize(@sermon.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @sermon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= bootstrap_form_with(model: @sermon, local: true) do |f| %>

    <%= f.collection_select :homilist_id, Homilist.all, :id, :name, include_blank: true, label: 'Homilist' %>

    <%= f.text_field :title %>
  
    <%= f.text_field :delivered_on, data: { behavior: "flatpickr" } %>
 
    <%= f.rich_text_area :content %>

    <%= f.text_field :audio %>
  
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
    
  </div>
</div>
