
<%= tinymce_assets %>
<%= simple_form_for @sermon, html: { multipart: true } do |f| %>
  
  <div class="form-group">
    <%= f.label :homilist %><br>
    <%= f.collection_select :homilist_id, Homilist.all, :id, :name, include_blank: true, label: 'Homilist' %>
    <%= f.input :title, class: 'form-control' %>
    <%= f.input :cites, label: 'Citations', class: 'form-control' %>
    <%= f.date_select :delivered_on, :class => 'datepicker' %><br>
    <%= f.text_area :sermon_body, :placeholder => "Sermon text", :class => "tinymce",  :rows => 40, :cols => 90, :id => "sermon-text" %><br>
    <%= tinymce %>
    
    <%= f.button :submit %>   
  <% end %>

</div>

<script>
$(document).on('page:load', function() {
  window['rangy'].initialized = false
  });
</script>


