<div class="row">
  <div class="col-md-12">

    <%= simple_form_for @sermon do |f| %>
      <%= f.collection_select :homilist_id, Homilist.all, :id, :name, include_blank: true, label: 'Homilist' %>
      <%= f.text_field :title %>
      <%= f.input :date, 
            as: :date, 
            html5: true,
            input_html: { class: 'form-control' } %>
      <%= f.text_field :cites %>
      <%= f.rich_text_area :content %>
      <%= f.text_area :sermon_body if :sermon_body %>
      <%= f.text_field :audio %>
      <%= f.submit "Submit"  , class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>