<div class="sermon_body">

<h1>Sermons from St. Paul's pulpit </h1>

<table class="table table-striped">
  <tbody>
    <% @sermons.each do |sermon| %>
      <tr>
        <td ><%= sermon.delivered_on.strftime("%b %d, %Y") %></td> 
        <td><%= sermon.homilist.name %></td> 
        <td><%= link_to sermon.title, sermon %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%# if current_user == superuser %>
  <%= link_to 'New Sermon', new_sermon_path %>
<%# end %>
</div>
<%= render "layouts/footer" %>