  <h3 id="special-menu-four">
    <%= link_to "<< Back to list of sermons", sermons_path %>
  </h3>
<div class="sermon-page">
  <h1><%= @sermon.title %></h1>
    <p><%= @sermon.cites %></p>
  <%= render 'serbox' %>
  
  <p class="sermon-text">
    <%= raw @sermon.sermon_body %>
  </p><br>
    
    <% if current_user.present? %>
    <%= link_to 'Edit', edit_sermon_path(@sermon) %> | 
    <% end %>
</div>
 