<div class="sermon-page">
    <header><img id="home-logo" src="https://s3.amazonaws.com/saintpaulsnaples/logos/New_StPaul_Logo.jpg" width="325px">
    <h3 id="menu-four"><%=link_to "<< Return to Home Page", root_path %> <br>
    <%= link_to "<< Back to list of sermons", sermons_path %>
    </h3>
    </header><div class="clearall">
</div>


  <p id="notice"><%= notice %></p>
  <h1>
  <%= @sermon.title %>
</h1>

<p>
  <%= @sermon.cites %>
</p>
  <div class="sermon-box">
  <div class="sermon-picture">
    <%= image_tag(@sermon.homilist.photo, width: '100', height: '160') %>
  </div>
  <h2>Sunday Sermon</h2>
 
  <h3><strong> <%= @sermon.homilist.name %>
   <%= @sermon.homilist.title %> </strong><br /><br />
    <%= @sermon.delivered_on.strftime("%B %e, %Y") %> </h3> </div>
  
    <%= raw @sermon.sermon_body %>

   
<%= render "layouts/footer" %>