<div class="mt50"></div>
<div class="row">
  <div class="col-md-10 offset-md-1 col-sm-12">  
  <h1><%= @sermon.title %></h1>
    <p><%= @sermon.cites %></p>
      <%= render 'serbox' %>
    <div class="sermon"><p class="sermon">
      <%= raw @sermon.sermon_body %></p>
      <% if @sermon.audio.present? %>
        <audio controls>
          <source src="<%= @sermon.audio %>"  type="audio/mpeg" >
            Your browser does not support the audio element.
        </audio>
      <% end %>
    </div>

    <% if current_user && current_user.has_role?(:admin) %>
    <%= link_to 'Edit', edit_sermon_path(@sermon) %>
    <% end %>
  </div>
</div>
