<%= simple_form_for(@sponsorship) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :amount, value: 275 %>
    <%= f.hidden_field :plan, value: "monthly" %>
    <%= f.hidden_field :customer_id %>
    <%= f.input :card %>
    <%= f.input :last_4 %>
    <%= f.input :expiraton_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
