

<%= simple_form_for(@sponsorship, url: sponsorship_url) do |f| %>
  <%= f.error_notification %>
<h2>Your Sponsorship:</h2>
  <div class="form-inputs">
    <%= f.input :amount, value: 275, input_html: {id: "sponsorshipAmount"}, placeholder: "Amount in whole dollars", label: false %>
    <%= f.input :divisor, collection: [["Pay now", 1], ["Monthly", 12], ["Quarterly", 4]], as: :radio_buttons, wrapper_html: {class: 'radio'}, input_html: {id: 'divisor'}, label: false %>
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :source %>
    <%= f.hidden_field :last_4 %>
    <%= f.hidden_field :expiraton_date %>
  </div>
   



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


