<p id="notice"><%= notice %></p>

<h1>Sponsorships</h1>

    <% @sponsorships.each do |sponsorship| %>
        <p><strong> <%= sponsorship.user.full_name %></strong> is pledging 
        <%= sponsorship.amount %>
          <% if sponsorship.plan == "monthly" %>
        , to be paid in 12 monthly payments of <%= sponsorship.amount / 12 %>
          <% elsif sponsorship.plan == "quarterly" %> , to be paid in four payments of <%= sponsorship.amount / 4 %>
          <else>  
            paying now in full.          
          <% end %>

        <%= link_to 'Show', sponsorship %></td>
        <%= link_to 'Edit', edit_sponsorship_path(sponsorship) %></td>
        <%= link_to 'Destroy', sponsorship, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<br>

<%= link_to 'New Sponsorship', new_sponsorship_path %>
