<%= simple_form_for(@meditation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: 'Your headline', autofocus: true, label: false %>
    <%= f.input :scripture, placeholder: 'Citation, e.g. Matthew 25:1-6', label: false %>
    <%= f.input :body, placeholder: 'Type your meditation here',
   input_html: {rows: "6"}, label: false%>
    <%= f.input :prayer, placeholder: 'A 1-3 sentence concluding prayer', label: false %>
    <%= f.input :name, placeholder: 'Your first and last name', label: false %>
    <%= f.input :publish_on, as: :date, placeholder: "Date to publish", label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
