<%= simple_form_for(@meditation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: 'Your headline', autofocus: true, label: false %>
    <%= f.input :scripture, placeholder: 'Citation, e.g. Matthew 25:1-6', label: false %>
    <%= f.input :body, as: :trix_editor, placeholder: 'Type your meditation here' %>
    <%= f.input :prayer, placeholder: 'A 1-3 sentence concluding prayer', label: false %>
    <%= f.input :name, placeholder: 'Your first and last name', label: false %>
    <%= f.date_select :publish_on, :id => 'datepicker' %>
   </div>
  <div class="honey">
    <%= f.input :honey, placeholder: "your honey", label: false %>
  </div>

  <div class="form-actions"> -->
    <%= f.button :submit, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
 <script type="text/javascript">
   $(document).ready(function () {
      $('.datepicker').datepicker();
    };
 </script>
