
@meditation 
<h2><%= @meditation.title %></h2>
  <p><strong><%= @meditation.scripture %></strong></p>
  <p><%= raw @meditation.body %></p>
  <p><strong><em><%= @meditation.prayer %></em></strong></p>
  <p class="align-right"><small><em>&mdash;<%= @meditation.name %></em></small></p>
