
<h2><%= @meditation.title %></h2>
  <p><em><%= @meditation.scripture %></em></p>
  <p><%= raw@meditation.body %></p>
  <p><strong><%= @meditation.prayer %> </strong></p>
  <p><small><em><%= @meditation.name %></em></small></p>