<p id="notice"><%= notice %></p>

<h2>Listing <%= @meditations.count %> Meditations</h2>

    <% @meditations.each do |meditation| %>
        <p>  <%= meditation.publish_on.strftime("%A, %B %-d, %Y") %><br>
        <strong><%= meditation.title %></strong> </p>
        
        <p><em><%= meditation.scripture %></em></p>
        <p><%= raw meditation.body %></p>
        <p><strong><em><%= meditation.prayer %> </em></strong></p>
        <p><%= meditation.name %> </p>
        <p><%= link_to 'Show', meditation %> | 
        <%= link_to 'Edit', edit_meditation_path(meditation) %> | 
        <%= link_to 'Destroy', meditation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <div class="mt30"></div>
    <% end %>

<br>


<p><%= link_to 'New Meditation', new_meditation_path %></p>
