
  <%= simple_form_for @vestry_minute do |f| %>
    <p>Date of the meeting</p>
    <%= f.input :date, 
            as: :date, 
            html5: true,
            input_html: { class: 'form-control' } %>
    <div class="my-3">
      <p><strong>D R A F T</strong>
      <%= f.input :draft, as: :boolean %></p>
      <%= f.input :body, as: :rich_text_area %>
    </div>
    <%= f.submit "Submit" , class: "btn btn-primary" %>
    </p>
  <% end %>