<%= javascript_include_tag Ckeditor.cdn_url %>
<%= simple_form_for @vestry_minute, html: { multipart: true } do |f| %>
  <h3>Insert date of the meeting</h3>
  <div class="form-group">
    <%= f.date_select :date, :class => 'datepicker' %><br>
    <%= f.input :minutes, as: :ckeditor %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<script>
$(document).on('page:load', function() {
  window['rangy'].initialized = false
  });
</script>