<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Log in</h2>
      
      <div class="mt30"></div>
     


      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="form-inputs">
          <%= f.input :login, placeholder: "Your full name" %>
          <%= f.input :password, placeholder: "Your password" %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-lg btn-primary" %>
        </div>
      <% end %>
      <h3>Trouble logging in?</h3>
      <p>If you have registered before, by inserting your first name, last name, email, password and password confirmation, please do not register again.</p>
      <p> If you forgot your password, click on that question below and we'll send you a way to enter a new password. (Passwords are encrypted, so we don't know what password you entered originally).</p>
      <p> Your user name is your first and last name that you entered when you first registered.
      If you're sure you haven't registered before, click "Sign up" to register now.</p>
      <div class="mt100"></div>

      <%= render "devise/shared/links" %>

    </div>
  </div> 
</div>