
    <%= simple_form_for(@jubilee_plan) do |f| %>
        <% if @jubilee_plan.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@jubilee_plan.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @jubilee_plan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <%= f.input :title, autofocus: true %>
      <%= f.input :body %>

      <div class="form-actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
