<div class="row">
  <div class="col col-md-10 col-md-offset-1 col-sm-12">
    <h1>Jubilee!</h1>
      <h2>And ye shall hallow the fiftieth year, and proclaim liberty throughout the land unto all the inhabitants thereof; it shall be a jubilee unto you; and ye shall return every man unto his possession, and ye shall return every man unto his family.</h2>
        <p class="floatright"><small>— Leviticus 25:10 (Jewish Publication Society translation)</small></p>
          <div class="mt30"></div>
        <%= cl_image_tag("jubileeButton_omxlnw.jpg", width: "20%", class: "floatleft") %>
        <div class="mt100"></div>
        <h1>How we will celebrate Jubilee!</h1>
        <div class="clearall"></div>
        <h2>December 2016</h2>
        <%= cl_image_tag("jubilee_englbw.jpg", width: '80%', class: "image-center") %>
        <p><strong>Our Jubilee! got under way when we wore our brand new Jubilee! tee shirts to greet Bishop Smith, Dec. 11</strong></p>
        <%= cl_image_tag("Jubilee_Choir_cu44gj.jpg", width: "100%") %>
        <%=cl_image_tag("Jubilee_Procession_jbfzll.jpg", width: "60%", class: "floatright") %>
        <div class="mt100"></div>
        <p><strong>One of our goals this Jubilee! year is to gain 50 new members of St. Paul's!</strong></p>
        <div class="clearall"></div><hr>
        <h2> January 2017</h2>
        <%= cl_image_tag("MinistryFair_oditxf.jpg", width: "40%") %>
        <%= cl_image_tag("Jubilee_Dinner_wgg2ae.jpg", width: "56%") %>
        <p><strong>Wanting to sign up 50 for new ministries in the church, we exceeded that goal at the Jan. 6 Ministry Fair! (Photo at left) Then we celebrated Jubilee! with a parish dinner Jan. 26, where the focus was on our outreach to the children in the Dominican Republic. More pictures on our <%= link_to "Facebook page.", "https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133/" %></strong></p>
        <hr>

         <h2>February 2017</h2>
         <%= cl_image_tag("HolySweetness_esuqas.jpg", width: "65%", class: "floatright") %>
    <h4>Holy Sweetness</h4>
    <p><strong>Fifty-six Jubilee! cakes and pies exceed the goal of 50 are blessed here by Fr. Bill as Bill Strenkert reads a prayer of thanks. "We thank all the bakers and providers of these magnificent variety of baked goods which are offered to your glory. We pray that those who are less fortunate enjoy the sweetness of the brotherly love represented here."</strong></p>
    <div class="mt30"></div>
        <p><strong> The February Jubilee! fellowship event, a spaghetti dinner, was held Feb. 9 in Trinity Hall.</strong> Go to our <%= link_to 'Facebook page', "https://www.facebook.com/St-Pauls-Episcopal-Church-376885279316133" %> to see photos taken at the dinner. </p></p> <div class="mt30"></div><div class="clearall"></div>
         <div class="mt30">
             
         </div><figure class="floatright"><%= cl_image_tag("dwayneFlowers_r25vjt.jpg", width: "350px") %><figcaption>A lovely flower arrangement was at every table, <br>thanks to a memorial from the sisters of the late<br> Theresa Blois</figcaption></figure>
       <div class="mt30"></div>
        <p>
        
        <strong>We welcomed our former associate rector, the Rev. Dwayne Varas, and his family to the "Jubilee! Winter Festival" on Feb. 26. Now the rector at St. Thomas Episcopal Church in Thomasville, Ga., Dwayne delivered the homily at both services and spoke at a luncheon that followed.
        </strong></p>
        </div>
        </div>
        <div class="row">
        <div class="col col-lg-4 col-lg-offset-1 col-md-3 col-sm-4">
        <figure class="image-center"> <%= cl_image_tag("dwayneTee_mruae6.jpg", width: "90%") %><figcaption>Dwayne donned a 50th tee</figcaption></figure>
        </div>
        <div class="col col-lg-6 col-md-9 col-sm-8">
        <figure class="imagecenter"><%= cl_image_tag("dwayneFamily_ppkrpa.jpg", width: "100%")%> <figcaption>Dwayne and his wife, Elizabeth and their girls, Emma and Isabel</figcaption></figure>
        </div>
        </div>
        <div class="row">
        <div class="col col-md-10 col-md-offset-1 col-sm-12">
        
       




        <hr>
        <h2>March 2017</h2>
        
        <figure class="floatright"><%= cl_image_tag("meditationBooklet_ddpsfv.jpg", width: "95%") %><figcaption>Parishioners wrote meditations for the 40 days of Lent</figcaption></figure>
        <p><strong>We asked parishioners and folks at the Farmers' Market to sign up to donate 50 pints of blood! The bloodmobile will be at the market on April 1.</strong></p><br>
        <p><strong>We published a booklet of meditations for Lent, comprised of writings of parishioners and friends of St. Paul's. (The meditations are published every day on the home page, as well. To read all of them, append "/meditations" without the quotes, to the website address at the top of your browser.)
        </strong></p>
        <hr>
        <h2>April 2017</h2>
        <p><strong>Our April Jubilee! challenge was met when we signed up all 50 hours of prayer during Holy Week. We started with the Stations of the Cross on Wednesday evening and ended with the Great Easter Vigil on Holy Saturday evening. Thanks to all who prayed, and please don't stop! </strong></p>
        <p><%= link_to "Some tips on how to pray", pages_how_to_pray_path %></p>
    
        <hr>
        <h2>May 2017</h2>>
        <p><strong> 500 volunteer hours on outreach projects.
        </strong></p>
        <h2>June 2017</h2>
        <hr>
        <p><strong> 50 new Books of Common Prayer
        </strong></p>
        <hr>
        <h2>July 2017</h2>
        <p><strong> 50 receipes for a Jubilee! cookbook.
        </strong></p>
        <hr>
        <h2>August 2017</h2>
        <p><strong> 500 lbs. weight loss (5 lb. increments)
        </strong></p>
        <hr>
        <h2>September 2017</h2>
        <p><strong> 50 new plants
        </strong></p>
        <hr>
        <h2>October 2017</h2>
        <p><strong> Add $50 to your 2018 pledge!
        </strong></p>
        <hr>
        <h2>November 2017</h2>
        <p><strong> 50 Dominican Republic children sponsorships!
        </strong></p>
        <hr>
        <h2>December 2017</h2>
        <p><strong> Welcome our 50th new member of the Jubilee! year.
        </strong></p>
        <hr>
        <h2>January 2018</h2>
        <p><strong> Jubilee! Grand dinner celebration with the bishop to kick off our 51st year!
        </strong></p>







  </div>      
</div>           