
<h3> <%= @jubilee_plan.title %> </h3> 
<p> <%= @jubilee_plan.user.full_name.titleize %></p>
<p> <%= @jubilee_plan.body %> </p>
  <% if current_user == @jubilee_plan.user %>
    <p><%= link_to "Edit", edit_jubilee_plan_path(@jubilee_plan) %> &nbsp; 
    <%=link_to @jubilee_plan,  method: :delete, data: 
    { confirm: 'This will delete your Jubilee post and all its comments.' 
      }, remote: true do %> | Delete!</p>
  <% end %>
  <% end %>

<div class="mt60"></div>
<%= link_to 'Back to the Jubilee! page', jubilee_plans_path %>
