<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
<h3> <%= @jubilee_plan.title %> </h3> 
<p> By <%= @jubilee_plan.user.full_name.titleize %></p>
<p> <%= @jubilee_plan.body %> </p>
  <% if current_user == @jubilee_plan.user %>
    <p><%= link_to "Edit", edit_jubilee_plan_path(@jubilee_plan) %> &nbsp; |
    <%=link_to @jubilee_plan,  method: :delete, data: 
    { confirm: 'This will delete your Jubilee post and all its comments.' 
      }, remote: true do %> | Delete!</p>
  <% end %>
  <% end %>
  <div class="clearall"></div>
    <section id="comments-section">
      <%= render partial: 'comments/comments', locals: {commentable: @jubilee_plan} %>
        <hr>
      <%= render partial: 'comments/form', locals: {commentable: @jubilee_plan} %>
       
    </section>
<div class="mt60"></div>
<h3><%= link_to '<< Back to the Jubilee! page', jubilee_plans_path %></h3>
    </div>
  </div>
</div>
