<p id="notice"><%= notice %></p>

<h1>Surveys</h1>

<!--this part will have to be hardwired somehow for batch invitations
-->

<% @surveys.each do |survey| %>
  
    <h2><%= link_to survey.name, survey %></h2>
    <%= pluralize(survey.questions.size, "Question") %>
    <% if current_user && current_user.admin? %>
      <%= link_to "Edit", edit_survey_path(survey) %> |&nbsp;
      <%=link_to survey,  method: :delete, data: 
      { confirm: 'This will delete this survey and all its comments.' 
        }, remote: true do %> Delete! </span></p>
    <% end %>
    <% end %>
<p><%= link_to 'New Survey', new_survey_path %></p>
<% end %>