<h1><%= @survey.name %></h1>
  <ol>
    <% @survey.questions.each do |q| %>
      <li><%= q.content %></li> 
      <ul>
        <% q.answers.each do |a| %>
          <li> <%= a.answer_option %> </li>
        <% end %>
      </ul>    
     <% end %>
    </ol>
<br>
<%= link_to 'Edit', edit_survey_path(@survey) %> &nbsp;|&nbsp;
<%= link_to 'Back', surveys_path %>
