<div class="row">
  <div class="col col-md-8 col-sm-12 main">
    <h1>Search team's job</h1>
    <p>General outline of the Search committee’s work
The process usually takes the following shape, infused with humility and prayer:</p>
<p>1. Meet to share their impressions of the candidates.  This may not be a good time to thin the list!</p>
<p>2. Send questions to the candidates to see how they communicate in writing.   Questions should be
about four in number and should be related to the values found in the self‐study.</p>
<p>3. Contact each candidate.  Contact includes visits, reference checks, and when appropriate, invitations
for interviews at the parish for which they are being considered.    Candidates should not be asked to
preach or celebrate in the parish during the process.</p>  
<p>4. Select final Candidates:  When the Search Committee has interviewed all candidates and determines
final candidates, Canon to the Ordinary is notified.    The Bishop then makes a final “bishop‐to‐
bishop” reference check.   At this time, a formal background check is completed (and paid for) by
Diocesan House.   The background check is the property of the Diocese and may not be disclosed.</p>
<p>5. Report recommendation to the Vestry.</p>
<h1>Vestry's job</h1>
<p>6. Vestry invites final candidates to come to the parish for an interview with the Vestry.    If the
candidate is not from this Diocese, arrangements must be made for an interview with the Bishop.</p>
<p>7. The Vestry elects, being sure to record its action in the minutes in the form of a resolution and
recorded vote.  The name of the elected person is presented to the Bishop prior to that person being
advised, as required by the canons.</p>
<p class="poem floatright">&mdash;From the diocesean Search Manual <%= link_to "(click for full text)", "https://s3.amazonaws.com/dfc_attachments/public/documents/3169572/2013SEARCH_PROCESS_MANUAL.pdf" %>
</p>
<div class="clearall"></div>

<h3><%= link_to "Click for links to social media and sermons", candidates_path %></h3>
  </div>

  <div class="col col-md-4 col-sm-12 sidebar">
    <h3>Links to documents</h3>
    <p>
      All of these documents are of importance to us as a search committee. Please take the time to pore over them.
    </p>
      <%= cl_image_tag("ParishProfilePDF_cover_hymh4t.png", width: '45%', class: 'image-center') %>
    <p class="text-center">
      <%= link_to "Parish profile", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1522935596/ParishProfile_vs6vjv.pdf.jpg.pdf" %></p><br>

      <%= cl_image_tag("2018_ST._Paul_s_OTM_Community_Portfolio_pk3gvc.jpg", width:'45%', class: 'image-center') %>
    <p class="text-center">
        <%= link_to "Ministry Portfolio", "http://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1523333229/2018_ST._Paul_s_OTM_Community_Portfolio_pk3gvc.pdf" %> </p>
          <br>
    <p class="text-center">
        <%= link_to "Parish survey", "https://docs.google.com/forms/d/1ABZ7lBDQaVCbe3q4A1OiS5hUJcVd1HP4gawG1QK-QpI/edit#responses" %>
          <br>
        <%= cl_image_tag("Report_Body_of_Strategic_Plan_03312018_qplbsv.jpg", width: "45%", class: "image-center") %></p>
    <p class="text-center">
        <%= link_to "Long-range plan", "http://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1523335226/Report_Body_of_Strategic_Plan_03312018_qplbsv.pdf" %></p>
    <p><strong>Other resources</strong></p>
    <p class="text-center">
        <%= link_to "Sample questions, Connecticut", "https://www.episcopalct.org/filerepository/DownloadFile.aspx?FileID=182" %> </p>
    <p class="text-center">
        <%= link_to "STAR theory, Texas", "http://aa86e41e7d951355383b-cb342165bfeaa4f2927aec8e5d7de41f.r23.cf2.rackcdn.com/uploaded/c/0e473709_cd-star-notebook.pdf" %> </p>
    <p class="text-center">
        <%= link_to "More questions", "https://discernablefutures.wordpress.com/tag/interview-questions/" %></p>
        <p><b>The interview!</b></p>
        <p class="text-center">
         <%= link_to "Interview preparation", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1524568661/interviewing_qifqyn.pdf" %></p>
         <p class="text-center">
          <%= link_to "Search Manual", "https://s3.amazonaws.com/dfc_attachments/public/documents/3169572/2013SEARCH_PROCESS_MANUAL.pdf" %></p>

  </div>
</div>
