<div class="row">
  <div class="col col-md-8 col-sm-12 main">
<h1>Questions for a rector</h1>
<div class="mt100"></div>
  <h2>Leadership Qualities</h2>
    <% @characteristics.each do |c| %>
      <% if c.kind == "leadership" %>
        <h4> <%= c.name %> </h4>
        <%= link_to "Add or edit a question for this attribute", 
          edit_characteristic_path(c) %>
      <% end %>
    <% end %>
    <div class="mt50"></div>
  <h2>Communications style</h2>
    <% @characteristics.each do |c| %>    
       <% if c.kind == "communication" %>
        <h4> <%= c.name %> </h4><br> 
          <%= link_to "Add or edit a question for this attribute", 
          edit_characteristic_path(c) %>
      <% end %>
    <% end -%>
    <div class="mt50"></div>
  <h2>Priest's experience</h2>
    <% @characteristics.each do |c| %>
      <% if c.kind == "experience" %>  
        <h4> <%= c.name %> </h4><br> 
           <%= link_to "Add or edit a question for this attribute", 
          edit_characteristic_path(c) %>
      <% end %>
    <% end -%>  
    <div class="mt50"></div>
  <h2>Spirituality</h2>
    <% @characteristics.each do |c| %>
      <% if c.kind == "spirituality" %>  
        <h4> <%= c.name %> </h4> 
          <%= link_to "Add or edit a question for this attribute", 
          edit_characteristic_path(c) %>
      <% end %>
    <% end -%>
    <div class="mt50"></div>
  <h2>Personal / lifestyle</h2>
      <% @characteristics.each do |c| %>
        <% if c.kind == "lifestyle" %>
        <h4> <%= c.name %> </h4><br> 
           <%= link_to "Add or edit a question for this attribute", 
          edit_characteristic_path(c) %>
        <% end %>
      <% end -%>
     
        
  </div> 

  <div class="col col-md-4 col-sm-12 sidebar">
    <h3>Links to documents</h3>
    <p>
      All of these documents are of importance to us as a search committee. Please take the time to pore over them.
    </p> 
      <%= cl_image_tag("ParishProfilePDF_cover_hymh4t.png", width: '45%', class: 'image-center') %>
    <p class="text-center">
      <%= link_to "Parish profile", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1522935596/ParishProfile_vs6vjv.pdf.jpg.pdf" %></p><br>
    
      <%= cl_image_tag("2018_ST._Paul_s_OTM_Community_Portfolio_pk3gvc.jpg", width:'45%', class: 'image-center') %>
    <p class="text-center">
        <%= link_to "Ministry Portfolio", "http://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1523333229/2018_ST._Paul_s_OTM_Community_Portfolio_pk3gvc.pdf" %> </p>
          <br>
    <p class="text-center">
        <%= link_to "Parish survey", "https://docs.google.com/forms/d/1ABZ7lBDQaVCbe3q4A1OiS5hUJcVd1HP4gawG1QK-QpI/edit#responses" %></p>
          <br>
        <%= cl_image_tag("Report_Body_of_Strategic_Plan_03312018_qplbsv.jpg", width: "45%", class: "image-center") %></p>
    <p class="text-center">
        <%= link_to "Long-range plan", "http://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1523335226/Report_Body_of_Strategic_Plan_03312018_qplbsv.pdf" %></p>
    <p><strong>Other resources</strong></p>
    <p class="text-center">
        <%= link_to "Sample questions, Connecticut", "https://www.episcopalct.org/filerepository/DownloadFile.aspx?FileID=182" %> </p>
    <p class="text-center">
        <%= link_to "STAR theory, Texas", "http://aa86e41e7d951355383b-cb342165bfeaa4f2927aec8e5d7de41f.r23.cf2.rackcdn.com/uploaded/c/0e473709_cd-star-notebook.pdf" %> </p>
    <p class="text-center">
        <%= link_to "More questions", "https://discernablefutures.wordpress.com/tag/interview-questions/" %></p>
        <p><b>The interview!</b></p>
        <p class="text-center">
         <%= link_to "Interview preparation", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1524568661/interviewing_qifqyn.pdf" %></p>
               




  </div>
</div>
