<div class="row">
  <div class="col col-md-8 col-sm-12 main">
<h1>Rate the candidates</h1>
<h5>Start with the Ministry Portfolios in your hand. Select one, then click on that person's name.<br>
  Please don't skip anyone. If you've decided a certain candidate is not good for St. Paul's, click his or 
  her name and go to the last line of the survey questions and make a statement to that effect. 
  This way we will know no one was overlooked.
  </h5>
  <p><strong>Problems? Call Tom, 285-9224</strong></p>
  <% @candidates.each do |can| %>
    <h2>The Rev. <%=link_to can.full_name, can.url %></h2>
    <hr>
  <% end %>  
<div class="mt100"></div>
  <% @characteristics.where(kind: "leadership").take(1).each do |leader| %>
  <h2>Leadership Qualities</h2>
    <p> Keywords: <i> Compassionate, Accessible, Outreacher,  Stewardship 
    promotor, Formation facilitator, Possessor of sense of humor, motivator,
    financial experience and interest, self-starter, delegator, grower, 
    energetic and resillient, pastoral </i></p>
     <p> <%= link_to "Add your question for this category", 
        edit_characteristic_path(leader) %></p>
  <% end %>

  <div class="mt50"></div>
  <% @characteristics.where(kind: "communications").take(1).each do|com| %>  
    <h2>Communications style</h2>
    <p>Keywords: <i> worship and music style, preaching style, liturgical style, 
    formation style</i><p>
      <p><%= link_to "Add your question for this category", 
        edit_characteristic_path(com) %></p>
  <% end %>

  <div class="mt50"></div>
  <% @characteristics.where(kind: "spirituality").take(1).each do |spirit|%>   
  <h2>Spirituality</h2>
    <p>Keywords: <i> Sense of serenity, prayer and action</i><p>
    <p>  <%= link_to "Add your question for this category", 
        edit_characteristic_path(spirit) %> </p>
  <% end -%>
  <div class="mt50"></div>
  <% @characteristics.where(kind: "lifestyle").take(1).each do |life|%>
  <h2>Personal lifestyle</h2>
   <p>Keywords: <i> Community involvement, health, spousal support, sense of community</i><p>
      <p><%= link_to "Add your question for this category", 
          edit_characteristic_path(life) %>  </p>
  <% end -%>        
  <div class="mt50"></div>
  <% @characteristics.where(kind: "experience").take(1).each do |exp| %>
  <h2>Experience</h2>
   <p>Keywords: <i> Especially as how pertinent is priest's experience to our parish</i><p>
      <p><%= link_to "Add your question for this category", 
          edit_characteristic_path(exp) %></p>
  <% end -%>        
  </div> 

  <div class="col col-md-4 col-sm-12 sidebar">
    <h3>Links to documents</h3>
    <p>
      All of these documents are of importance to us as a search committee. Please take the time to pore over them.
    </p> 
      <%= cl_image_tag("ParishProfilePDF_cover_hymh4t.png", width: '45%', class: 'image-center') %>
    <p class="text-center">
      <%= link_to "Parish profile", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1522935596/ParishProfile_vs6vjv.pdf.jpg.pdf" %></p><br>
    
      <%= cl_image_tag("2018_ST._Paul_s_OTM_Community_Portfolio_pk3gvc.jpg", width:'45%', class: 'image-center') %>
    <p class="text-center">
        <%= link_to "Ministry Portfolio", "http://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1523333229/2018_ST._Paul_s_OTM_Community_Portfolio_pk3gvc.pdf" %> </p>
          <br>
    <p class="text-center">
        <%= link_to "Parish survey", "https://docs.google.com/forms/d/1ABZ7lBDQaVCbe3q4A1OiS5hUJcVd1HP4gawG1QK-QpI/edit#responses" %></p>
          <br>
        <%= cl_image_tag("Report_Body_of_Strategic_Plan_03312018_qplbsv.jpg", width: "45%", class: "image-center") %></p>
    <p class="text-center">
        <%= link_to "Long-range plan", "http://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1523335226/Report_Body_of_Strategic_Plan_03312018_qplbsv.pdf" %></p>
    <p><strong>Other resources</strong></p>
    <p class="text-center">
        <%= link_to "Sample questions, Connecticut", "https://www.episcopalct.org/filerepository/DownloadFile.aspx?FileID=182" %> </p>
    <p class="text-center">
        <%= link_to "STAR theory, Texas", "http://aa86e41e7d951355383b-cb342165bfeaa4f2927aec8e5d7de41f.r23.cf2.rackcdn.com/uploaded/c/0e473709_cd-star-notebook.pdf" %> </p>
    <p class="text-center">
        <%= link_to "More questions", "https://discernablefutures.wordpress.com/tag/interview-questions/" %></p>
        <p><b>The interview!</b></p>
        <p class="text-center">
         <%= link_to "Interview preparation", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1524568661/interviewing_qifqyn.pdf" %></p>
               




  </div>
</div>
