<!-- <div class="honey" style="width: 1px; height: 1px; overflow:hidden;"> -->
<%= simple_form_for @prayer do |f| %>
  <%= f.input :day_of_prayer %>
  <%= f.input :time_of_prayer %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :honey %>
  <%= f.input :pray_time %>
  <%= f.button :submit %>
<% end %>
</div>