<div class="row">
  <div class="col col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
    <h1 class="text-center">Jubilee! Year</h1>
    <h2 class="text-center">Holy Week 50 Hours of Prayer</h2>
    <%= cl_image_tag("praying_hands_o7yfr1.jpg", :width=>506, :crop=>"scale", class: "image-center") %>
  </div>
</div>

<div class="row">
  <div class="col col-lg-10 col-lg-offset-1 col-sm-12">
 
    <h3 class="text-center">Wednesday</h3>
      <% @prayers.where(day_of_prayer: "Wednesday").each do |p| %> 
        <div class="timeblock">
          <p class="text-center"><small><%= p.time_of_prayer %><br>
          <% if p.name.present? %>
          <%= p.name %></small></p>
          <% else %>
          <%= bootstrap_form_for p do |f| %>
          <%= f.input :name, label: false, placeholder: 'Your name here' %>
          <div class="mt-30">
          <%= f.button :submit, 'Submit', class: "btn btn-primary btn-xs" %>
          <% end %>
          </div>
        <% end %>
        </div>
      <% end %>
        <div class="clearall"></div>
        <p><strong>* The whole Church is represented by those attending the Stations of the 
      Cross, 5-6 p.m. Stations start at 5:30.</strong></p>
  </div>    
</div>
<div class="row">
  <div class="col col-lg-10 col-lg-offset-1 col-sm-12">
    <h3 class="text-center">Holy Thursday</h3>
      <% @prayers.where(day_of_prayer: "Thursday").each do |p| %> 
        <div class="timeblock">
          <p class="text-center"><small><%= p.time_of_prayer %><br>
           <% if p.name.present? %>
          <%= p.name %></small></p>
          <% else %>
          <%= bootstrap_form_for p do |f| %>
          <%= f.input :name, label: false, placeholder: 'Your name here' %>
          <div class="mt-30">
          <%= f.button :submit, 'Submit', class: "btn btn-primary btn-xs" %>
          <% end %>
          </div>
        <% end %>
        </div>
      <% end %>
      <div class="clearall"></div>
      <p><strong>* The whole Church is represented by those attending the Maundy Thursday service, Holy Eucharist and Foot Washing, 6 p.m. </strong></p>
  </div>    
</div>
<div class="row">
  <div class="col col-lg-10 col-lg-offset-1 col-sm-12">
    <h3 class="text-center">Good Friday</h3>
      <% @prayers.where(day_of_prayer: "Friday").each do |p| %> 
        <div class="timeblock">
          <p class="text-center"><small><%= p.time_of_prayer %><br>
           <% if p.name.present? %>
          <%= p.name %></small></p>
          <% else %>
          <%= simple_form_for p do |f| %>
          <%= f.input :name, label: false, placeholder: 'Your name here' %>
          <div class="mt-30">
          <%= f.button :submit, 'Submit', class: "btn btn-primary btn-xs" %>
          <% end %>
          </div>
        <% end %>
        </div>
      <% end %>
      <div class="clearall"></div>
      <p><strong>* The whole Church is represented by those attending the solemn and holy Good Friday service at noon. The Haitian Creole-speaking members of St. Paul's will continue in prayer through 3 p.m. in Serson Hall.</strong></p>
  </div>    
</div>
<div class="row">
  <div class="col col-lg-10 col-lg-offset-1 col-sm-12">
    <h3 class="text-center">Holy Saturday</h3>
      <% @prayers.where(day_of_prayer: "Saturday").each do |p| %> 
        <div class="timeblock">
          <p class="text-center"><small><%= p.time_of_prayer %><br>
           <% if p.name.present? %>
          <%= p.name %></small></p>
          <% else %>
          <%= bootstrap_form_for p do |f| %>
          <%= f.input :name, label: false, placeholder: 'Your name here' %>
          <div class="mt-30">
          <%= f.button :submit, 'Submit', class: "btn btn-primary btn-xs" %>
          <% end %>
          </div>
        <% end %>
        </div>
      <% end %>
      <div class="clearall"></div>
      <p><strong>* The whole Church is represented in prayer by those who are experiencing the deeply moving retelling of our creation and salvation in the Great Vigil, 6 p.m.</strong></p>
  </div>    
</div>
<div>
<h4><%= link_to 'Tips on how to pray', pages_how_to_pray_path %></h4>
</div>