<h2><%= @prayer.name %> </h2>
<p><strong>will be praying on <%= @prayer.day_of_prayer %> from <%= @prayer.time_of_prayer %></strong></p>
<div class="mt100"></div>

<p><strong><%= link_to 'What is prayer and how do I pray?', 'pages/how_to_pray' %></strong></p>
<p><strong><%= link_to 'Tips on spending your hour in prayer', 'pages/your_hour' %></strong></p><br>
<%= link_to '<<Back to prayer times', prayers_path %>
<div class="mt100"></div>