<div class="container">
  <h1>Stripe Reports</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Stripe fee</th>
        <th>Net</th>
      </tr>
    </thead>
    <tbody>
      <% @stripe_reports.each do |sr| %>
      <tr>
        <td><%= sr.donor_name %></td>
        <td><%= number_to_currency(sr.amount/100.0) %></td>
        <td><%= sr.created_at.strftime("%b %-d, %Y") %></td>
        <td><%= number_to_currency(sr.stripe_fee/100.0) %></td>
        <td><%= number_to_currency(sr.net/100.0) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
