<h1 class='center-text'>Stripe Report</h1>
<div class="container"> 
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Stripe fee</th>
        <th>Net</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @stripe_report.donor_name %></td>
        <td><%= number_to_currency(@stripe_report.amount/100.0) %></td>
        <td><%= @stripe_report.created_at.strftime("%b %-d, %Y") %>
        <td><%= number_to_currency(@stripe_report.fee/100.0) %></td>
        <td><%= number_to_currency(@stripe_report.net/100.0) %></td>
      </tr>
    </tbody>
  </table>
</div>