<h2>Here are the latest posts</h2>
<% @posts.each do |post| %>
  <% if post.post_picture? %>
    <%= link_to cl_image_tag(post.post_picture.path, 
      :height => 350, :crop => :fit), cloudinary_url(post.post_picture.path) %>
  <% end %>
    <% if post.photos? %>
      <%= render 'slides', post: post %>
    <% end %>  
    <br>
  <% if post.user.avatar.present? %>
    <div id="avatar-owner">
      <%= cl_image_tag(post.user.avatar.path, { size: '110x120', crop: :fill,
        gravity: :face, class: "floatleft" }) %>
    </div>
  <% else %>
    <div class="default-avatar"><h5>Your<br>Picture<br>Here</h5>
    </div>
  <% end %>
  <br>
  <p><strong>
    <%= post.user.full_name.titleize  %></strong>::  
    <%= post.content %>  
      <span class="time-ago"> Posted <%= time_ago_in_words(post.created_at) %> ago. 
      </span></p>

        <%#= link_to "Share this post with your friends", post_path(post) %>
    <p> <span class="edit-delete-line">
      <%= link_to "Show", post_path(post) %> &nbsp; 
      <% if current_user == post.user %>
      <%= link_to "Edit", edit_post_path(post) %> &nbsp;
      <%=link_to post,  method: :delete, data: 
      { confirm: 'This will delete your post and all its comments.' 
        }, remote: true do %> Delete! </span></p>
      <% end %>
    <% end %>
    <div class="clearall"></div>
<section id="comments-section">
  <% post.comments.each do |comment| %>
    <div id= "comments"> 
      <div id="comments-body">
      <%= comment.body %> <br>
      </div>
        <div id="comments-user">
         --<%= comment.user.full_name.titleize %>
        </div>
          <!--<%# if current_user == comment.user %>
          <p> <span class="edit-delete-line">
      <%#=link_to comment,  method: :delete, data: 
      { confirm: 'This will delete your comment.' 
        }, remote: true do %> Delete! </span></p>
      <%# end %>-->
    <%# end %>
          <br><hr></div>
   <% end %>
     
   <%= simple_form_for [post, post.comments.new] do |f| %>
    <%= f.input :body, placeholder: 'Type your comment here', 
    input_html: { rows: 2 }, label: false %>
    <%= f.submit class: "btn btn-primary btn-sm" %>
  <% end %>
</section> 

<% end %>
