<h2>Here are the latest posts</h2>
<% @posts.each do |post| %>
  <% if post.post_picture? %>
    <%= link_to cl_image_tag(post.post_picture.path, 
      { height: '350', crop: :fit, class: 'floatright' }) %>
  <% end %> 
    <br>
  <% if post.post_photos? %>
  <%= render partial: 'slides' %>
  <% end %>
  <% if post.user.avatar? %>
    <div id="avatar-owner">
      <%= cl_image_tag(post.user.avatar.path, { size: '120x175', 
      crop: :fit }) %>
    </div>
  <% else %>
    <div class="default-avatar"><h5>Your<br>Picture<br>Here</h5>
    </div>
  <% end %>
  <br>
  <p class="poster-name">
    <%= post.user.full_name.titleize %>::  
    <%= simple_format(post.content) %></p>  
      <p> <span class="edit-delete-line"> Posted <%= time_ago_in_words(post.created_at) %> ago. &nbsp; <%= link_to "Show", post_path(post[:id]) %>
      <% if current_user == post.user %>
      | <%= link_to "Edit", edit_post_path(post[:id]) %> |&nbsp;
      <%=link_to post,  method: :delete, data: 
        { confirm: 'This will delete your post and all its comments.' 
          }, remote: true do %> Delete! </span></p>
        
        <% end %>
      <% end %>
    <div class="clearall"></div>

    <section id="comments-section">
      <%= render partial: 'comments/comments', locals: {commentable: post} %>
      <div class="mt30"></div>
      <%= render partial: 'comments/form', locals: {commentable: post} %>
    </section> 
<% end %>