<h2>Here are the latest posts</h2>
<% @posts.each do |post| %>
  <% if post.post_picture? %>
    <%= link_to cl_image_tag(post.post_picture.path, 
      :height => 350, :crop => :fit), cloudinary_url(post.post_picture.path) %>
  <% end %>
    <% if post.photos? %>
      <%= render 'slides', post: post %>
    <% end %>  
    <br>
  <% if post.user.avatar.present? %>
    <div id="avatar-owner">
      <%= cl_image_tag(post.user.avatar.path, { size: '110x120',
       crop: :fill, gravity: :face, class: "floatleft" }) %>
    </div>
  <% else %>
    <div class="default-avatar"><h5>Your<br>Picture<br>Here</h5>
    </div>
  <% end %>
  <br>
  <p><strong>
    <%= post.user.full_name.titleize  %></strong>::  
    <%= simple_format(post.content) %>  
      <p> <span class="edit-delete-line"> Posted <%= time_ago_in_words(post.created_at) %> ago. &nbsp; <%= link_to "Show", post_path(post[:id]) %>
      <% if current_user == post.user %>
      | <%= link_to "Edit", edit_post_path(post[:id]) %> |&nbsp;
      <%=link_to post,  method: :delete, data: 
        { confirm: 'This will delete your post and all its comments.' 
          }, remote: true do %> Delete! </span></p>
          <hr>
        <% end %>
      <% end %>
    <div class="clearall"></div>

    <section id="comments-section">
      <%= render partial: 'comments/comments', locals: {commentable: post} %>
      <div class="mt30"></div>
      <%= render partial: 'comments/form', locals: {commentable: post} %>
    </section> 

<% end %>