
<div class="main-body">

  <h1>Connections</h1>
    <h2> A Facebook-like feature for members of our church family</h2>
  
  <div class="create-post">
    <% if current_user.avatar.present? %>
      <%= cl_image_tag(current_user.avatar.path, { size: '110x120', crop: :fill, gravity: :face, class: "floatleft" }) %>
    <% end %><br>
    <p><strong><%= link_to "Create an article or post a photo", new_post_path %></strong></p>
    <br>
    
    <p><%= link_to "Edit your profile or add/change your profile picture", edit_profile_path(current_user.profile(params[:id])) %>
  
  </div><br>
    <h2>Latest posts</h2>   
      <%= render 'post' %>
</div> 

<div class="sidebar">
  <h2> Tell your story</h2>
<p>Don't let your fellow parishioners learn at your funeral that they had something in common with you! <em>(Is there a more delicate way to put this?)</em></p>
<p>Click here for  a questionnaire, of sorts, that you can use to introduce your deeper self. You can edit your profile from time to time as you wish.</p><span class="pull-right"> <%= link_to "Let's go", edit_profile_path(current_user.profile(params[:id])), class: 'btn btn-success' %></span><br>
  <h2>Life's Events</h2>
    <h3>Birthdays this week</h3>
      <p>Generate from database and listed day by day starting with Sunday. Maybe a little clipart if it's not too cheesy.</p>

  <h3>Anniversaries</h3>
    <p>also generated from database and listed the same way as birthdays</p>

  <h3>We're praying for...</h3>
    <p>Link to parish prayer list and accept readers' input. This page will be seen only by those who are logged in as church members. We will have three levels of authorization: administrators, who can create, edit and delete everything, is the top level. The second is member and this will have two "permissions categories": restricted and full. The third level is "guest," who can view the library page and search for books, for example.</p>
    <br>
    <h3>ToDo for this page</h3>
    <p>Add share to Facebook api</p>
    <p>Add pagination</p>
</div>