
<% if @post.post_picture? %>
  <%= link_to cl_image_tag(@post.post_picture.path, :height => 350, :crop => :fit), cloudinary_url(@post.post_picture.path) %>
<% end %>
  
<% if @post.photos? %>
  <%= render 'slides' %>
<% end %>    

<% if @post.user.avatar.present? %>
  <%= cl_image_tag(@post.user.avatar.path, { size: '110x120', crop: :fill, gravity: :face, class: "floatleft" }) %>
<% end %>
    
  <p><em><b>
    <%= @post.user.full_name.titleize %>:: </b></em>

  <%= @post.content %> </p>
    <p><small>Posted <%= time_ago_in_words(@post.created_at) %> ago.</small></p>
    <%= social_share_button_tag %> 
    <p><small><% if current_user == @post.user %>
      <%= link_to ' | Edit', edit_post_path(@post) %> | 
      <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'This will delete your post and all its comments.' } %></small></p>
    <% end %>
  
