

  <div class="row">
    <div class="col-md-8 col-sm-12 main-body">
      <h1>There's a place for you at St. Paul's</h1>
      <% @opportunities.each  do |opportunity| %>
        <h2><%= opportunity.ministry %></h2>
          <p><strong>Who </strong>&#09;<%= opportunity.who %></p>
          <p><strong>What </strong>&#09;<%= opportunity.what %></p>
          <p><strong>When </strong>&#09;<%= opportunity.when %></p>
          <p><strong>Where </strong>&#09;<%= opportunity.where %></p>
          <!--<%# if opportunity.user.present? %>
           <p><strong>Vestry liaison person </strong>&#09;<%#= opportunity.user.full_name.titleize %>,  <span class="email"><%#= opportunity.user.email %></span></p>  -->
          <%# end %>
            <% if current_user && current_user.has_role?(:admin) %><p><small>
              <%= link_to "Edit", edit_opportunity_path(opportunity[:id]) %> | <%= link_to 'Destroy', opportunity, method: :delete, data: { confirm: 'Are you sure?' } %></small></p>
            <% end %>
      <% end %>
    </div>
  
        <div class="col-md-4 col-sm-6 sidebar">
          <%= cl_image_tag("togetherLogo_grjbrm.png", width: "95%", class: "image-center") %>
          <h3>This list is incomplete!</h3>
            <p>There are many ways to be involved at Saint Paul's. Your participation in your church makes for a healthier and happier congregation.</p>
            <p>So don't be shy. Just about anyone you encounter here will steer you to a ministry fit for you.</p>
            <p><strong>Is your ministry missing from this list? </strong> Give your webmaster a shout. Better yet, an email: tom.connolly@comcast.net.</p>
        </div>
  </div>
