
<div class="main_body">

<h1>Opportunities for ministry</h1>
<% @opportunities.each do |opportunity| %>
      <h2><%= opportunity.ministry %></h2>
      <p><strong>Who </strong>&#09;<%= opportunity.who %></p>
      <p><strong>What </strong>&#09;<%= opportunity.what %><p>
      <p><strong>When </strong>&#09;<%= opportunity.when %></p>
      <p><strong>Where </strong>&#09;<%= opportunity.where %></p>
      <p><strong>Contact </strong>&#09;<%= opportunity.user.full_name.titleize %>, <span class="email"><%= opportunity.user.email %></span></p>
      <br>
      <br> 
    <% end %>


<br>
</p></p></p>

</div>
<%= render "layouts/footer" %>