<p id="notice"><%= notice %></p>

<h1>Listing Fake Stripes</h1>

<table>
  <thead>
    <tr>
      <th>Tickets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fake_stripes.each do |fake_stripe| %>
      <tr>
        <td><%= fake_stripe.tickets %></td>
        <td><%= link_to 'Show', fake_stripe %></td>
        <td><%= link_to 'Edit', edit_fake_stripe_path(fake_stripe) %></td>
        <td><%= link_to 'Destroy', fake_stripe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fake stripe', new_fake_stripe_path %>
