<p id="notice"><%= notice %></p>

<h1>Thankfuls</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thankfuls.each do |thankful| %>
      <tr>
        <td><%= thankful.body %></td>
        <td><%= link_to 'Show', thankful %></td>
        <td><%= link_to 'Edit', edit_thankful_path(thankful) %></td>
        <td><%= link_to 'Destroy', thankful, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thankful', new_thankful_path %>
