
<%= bootstrap_form_for @vnote do |f| %>
<div class="form-group">
  <%= f.text_field :title, autofocus:true %><br>
  <%= f.rich_text_area: :content %>
  <%#= f.text_field :body %>
 </div>
  <div class="submit-post">
   <%= f.button :submit, class: "btn btn-primary" %> &nbsp;
   <%= link_to "Cancel", :back, class: "btn btn-danger" %>
  </div>
<% end %>

<script>
$(document).on('page:load', function(){
  window['rangy'].initialized = false
});
</script>
