<%= simple_form_for @vreport do |f| %>
  <%= f.input :title, autofocus:true %><br>
  <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'sermon' }}%>
  
  <div class="submit-post">
   <%= f.submit, class: "btn btn-primary" %> &nbsp; 
   <%= link_to "Cancel", :back, class: "btn btn-danger" %>
  </div>
<% end %>



<script>
$(document).on('page:load', function() {
  window['rangy'].initialized = false
  });
</script>