
  <% @vreports.each do |vreport| %>
    <% if vreport.user.avatar? %>
      <%= cl_image_tag(vreport.user.avatar.path, {size: '160x234', class: 'floatleft'}) %>
    <% else %>
    <div class="default-avatar"><h5>Your<br>Picture<br>Here</h5>
    </div>
    <% end %>
      <br>
    <h3><%= vreport.title %></h3>
      <p><%= simple_format(vreport.body) %>

      <span class="edit-delete-line"> Report made 
      <%= time_ago_in_words(vreport.created_at) %> ago by 
      <strong><%= vreport.user.full_name.titleize %></strong> &nbsp; 
      <%= link_to "Show", vreport_path(vreport) %>
      <% if current_user == vreport.user %> | 
      <%= link_to "Edit", edit_vreport_path(vreport) %> |&nbsp;
      <%=link_to vreport,  method: :delete, data: 
      { confirm: 'This will delete your report and all its comments.' 
        }, remote: true do %> Delete! </span></p>
      
      <% end %>
    <% end %>
    <div class="clearall"></div>
    <hr>
<section id="comments-section">
  <%= render partial: 'comments/comments', locals: {commentable: vreport} %>
    <div class="mt30"></div>
  <%= render partial: 'comments/form', locals: {commentable: vreport} %>
</section>
<% end %>
