<% @vnotes.each do |vnote| %>
  <h3><%= vnote.title %></h3>
  <p><%= vnote.body %></p>
  <span class="edit-delete-line"> Report made <%= time_ago_in_words(vnote.created_at) %> ago by
    <strong> <%= vnote.user.username.titleize %></strong> &nbsp; 
    <%= link_to "Show" , vnote_path(vnote) %>
    <% if current_user==vnote.user %> |
      <%= link_to "Edit" , edit_vnote_path(vnote) %> |&nbsp;
      <%= link_to "Delete", vnote, data: { turbo_confirm: vnote } method: :delete %> </span>
    <% end %>
<% end %>
      <hr>
<section id="comments-section">
  <%= render partial: 'comments/comments' , locals: {commentable: @vnote} %>
  <%= render partial: 'comments/form' , locals: {commentable: @vnote} %>
</section> 