
  <% @vreports.each do |vreport| %>
    <% if vreport.user.avatar.present? %>
    <div id="avatar-owner">
      <%= cl_image_tag(vreport.user.avatar.path, { size: '110x120', crop: :fill,
        gravity: :face, class: "floatleft" }) %>
    </div>
    <% else %>
    <div class="default-avatar"><h5>Your<br>Picture<br>Here</h5>
    </div>
    <% end %>
    <br>
    <h3>
      <%= vreport.title %></h3>
      <p><%= vreport.body %><br>
      Report made <%= time_ago_in_words(vreport.created_at) %> ago
      by <strong><%= vreport.user.full_name.titleize  %>.</strong></p>

        
    <p> <span class="edit-delete-line">
      <% if current_user == vreport.user %>
      <%= link_to "Edit", edit_vreport_path(vreport) %> &nbsp;
      <%=link_to vreport,  method: :delete, data: 
      { confirm: 'This will delete your vreport and all its comments.' 
        }, remote: true do %> Delete! </span></p>
      <% end %>
    <% end %>
    <div class="clearall"></div>
<section id="comments-section">
  <%= render partial: 'comments/comments', locals: {commentable: vreport} %>
    <hr>
  <%= render partial: 'comments/form', locals: {commentable: vreport} %>
   
</section>
<% end %>
