
  <div class="row">
    <div class="col-md-8 main-body">
    <h1>Vestry Reports</h1>
    <p>This is where vestry members submit their reports. Only vestry members will be able to ask questions and make comments, which may inspire the author to edit the report. The report then is presented to the vestry at its regular meeting. Once submitted to the vestry, the report becomes available to the whole parish.</p>
      <section>
        <div class="create-vreport">
          <% if current_user.avatar.present? %>
          <%= cl_image_tag(current_user.avatar.path, { size: '110x120', 
            crop: :fill, gravity: :face, class: "floatleft" }) %>
          <% else %>
          <div class="default-avatar"><h5>Your<br>Picture<br>
          Here</h5>
          </div>
          <% end %><br><br>
            <%= link_to new_vreport_path, remote: true do %>
              <p><strong>Create a report</strong></p>
            <% end %>
        </div>
          <div id="vreports-form" style="display:none;">
          </div>   
      </section>
      <section>
        <div class="mt30"> </div>
        <div id="vreports">
        <h2>Here are the latest vestry reports</h2>
          <%= render 'vreports' %>
        </div>
      </section>
  </div>

    <div class="col-md-4 sidebar">
      <h2>About vestry reports</h2>
      <p>Vestry members at Saint Paul's take on certain responsibilities and are asked to make periodic reports.</p>
      <p>Areas of responsibility are:
      </p>
      <p><strong>Administration, fundraising</strong></p>
      <div class="second-line"><p>Dick Breithaupt</p></div>
      <p><strong>Christian formation</strong></p>
      <div class="second-line"><p>Charlene Connolly</p></div>
      <p><strong>Communications, office staff</strong></p>
      <div class="second-line"><p>Barb Kling</p></div>
      <p><strong>Congregational integration</strong></p>
      <div class="second-line"><p>Yvon Hive</p></div>
      <p><strong>Farmers' Market, yard sale</strong></p>
      <div class="second-line"><p>Don Anderson</p></div>
      <p><strong>Fellowship</strong></p>
      <div class="second-line"><p>Van Geoghegan</p></div>
      <p><strong>Finance</strong></p>
      <div class="second-line"><p>Hal Brundage</p></div>
      <p><strong>Internal ministries</strong></p>
      <div class="second-line"><p>Adrienne McGrain</p></div>
      <p><strong>Outreach</strong></p>
      <div class="second-line"><p>Vacant</p></div>
      <p><strong>Pastoral care</strong></p>
      <div class="second-line"><p>Patti Loree</p></div>
      <p><strong>Property</strong></p>
      <div class="second-line"><p>Alan Cragg</p></div>
      <p><strong>Worship</strong></p>
      <div class="second-line"><p>Bev Whiteman</p></div>
      <br>
      <h2>Resources for vestry members</h2>
      <p>Subscribe to Episcopal Church Foundation's "Vital Practices" for articles, tools, and resources by and for congregational leaders.
      <%= link_to "Click here", "http://www.ecfvp.org/account/register", :target => '_blank' %></p>
      <p><strong>Our diocese is offering a team-building program</strong> at a retreat for vestry members, May 7 at Day Spring.  <%=link_to "Click for details", "http://www.episcopalswfl.org/dfc/newsdetail_2/3177238?utm_source=feedburner&utm_medium=email&utm_campaign=Feed%3A+episcopal+%28Southwest+Florida+Episcopal+Church+News%29", :target => '_blank' %> </p>
      <p>
      <strong>Here's a pdf describing how some other congregations are dealing with change</strong> <%= link_to "Click here", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1457116302/something_more_nmd5we.pdf", :target => "_blank" %> </p>
    </div>
  </div>
</div>
