<%= form_tag charges_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
        <p><%= flash[:error] %> </p>
    <% end %>
  </div>
  <article>  
    <%= label_tag(:amount, 'Pledge Amount:') %>
    <%= text_field_tag(:amount) %>
  </article>
  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
  <button id="pledgeButton">Remit</button>
  <% end %>

  