<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <% if user_signed_in? %>
      <%= current_user.full_name.titleize %> | <%= link_to "Log out",
      destroy_user_session_path, 
      method: :delete, class: "text-white" %> 
    <% else %>
      <%= link_to "Member sign in", new_user_session_path, class: "text-white" %>
    <% end %>
  </div>  <!--navbar-brand--> 
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>

        
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      <li class="nav-item active"> 
        <%= link_to "Home", root_path, class: "nav-link" %>
        <span class="sr-only">(current)</span>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Worship </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li><%= link_to "How we worship", worship_index_path, class: "dropdown-item" %></li>
            <li><%= link_to "Read sermons", sermons_path, class: "dropdown-item" %></li>
            <li><%= link_to "Adult Formation", formation_talks_path, class: "dropdown-item" %></li>
            <li><%= link_to "Children's Sunday School", sunday_school_index_path, class: "dropdown-item" %></li>
            <li><%= link_to "How to pray", pages_how_to_pray_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div><!--navbarDropdown1-->
  </nav>
      
      <!--<li class="nav-item">
        <a class="dropdown-item dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Leadership <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><%= link_to "Clergy and staff", leadership_index_path, class: "dropdown-item" %></li>
          <li><%= link_to "Vestry", leadership_index_path, class: "dropdown-item" %></li>
          <li><%= link_to "Vestry meeting minutes", vestry_minutes_path, class: "dropdown-item" %></li>
          <li><%= link_to "Opportunities to serve", opportunities_path, class: "dropdown-item" %></li>
          <li><%= link_to "On-line giving", new_pledge_path, class: "dropdown-item" %></li>
          <% if current_user && current_user.has_role?(:vestry) or current_user && current_user.has_role?(:admin) %>
            <li><%= link_to "Vestry Report", vreports_path, class: "dropdown-item" %></li>
          <% end %>
        </div> 
      </li>
          
        <li class="nav-item">
        <a class="dropdown-item dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Activities <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><%= link_to "Activities", activities_index_path, class: "dropdown-item" %></li>
          <li><%= link_to "Celebrate Jubilee!", jubilee_plans_path, class: "dropdown-item" %></li>
          <li><%= link_to "Communicators' corner", story_ideas_path, class: "dropdown-item" %></li>
          <li><%= link_to link_to "Family Ties", posts_path, class: "dropdown-item" %></li>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="dropdown-item dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Markets <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><%= link_to "Farmers' Market", markets_index_path, class: "dropdown-item" %></li>
          <li><%= link_to "Gift Shop", markets_index_path, class: "dropdown-item" %></li>
          <li><%= link_to "Unique Boutique", markets_index_path, class: "dropdown-item" %></li>
        </div>-->
   
