  <header>
    <div class="header">
    <%= cl_image_tag("logos/New_StPaul_LogoWeb.jpg", { id: 'home-logo', width: '325' }) %>
      <h3 id="menu-four"><%= link_to "<< Return to home page", root_path %></h3>
      <% if user_signed_in? %>

      <p id="menu-five"><small>
        Logged in as <%= current_user.full_name.titleize %> |  <%= link_to "Log out", destroy_user_session_path, method: :delete %> | <%= link_to "Edit profile", edit_user_registration_path %>
      </p>
      <% end %>        
    </div>
  </header>
