<header>
  <div class="header">
    <div id="home-logo">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/New_StPaul_LogoWeb.jpg", { id: 'home-logo', width: '325' }) %>
    </div>
      <div id="menu-one"> 
        <button class="btn-custom" data-jq-dropdown="#faithdd">Faith >></button>
      </div> 
      <div id="menu-two"> 
       <button class="btn-custom" data-jq-dropdown="#actiondd">Action >></button>
      </div><div class="clearall"></div>
        <div id="menu-five">
          <% if user_signed_in? %>
          <p><small>
          <%= current_user.full_name.titleize %> |  <%= link_to "Log out", destroy_user_session_path, method: :delete %> | <%= link_to "Edit account", edit_user_registration_path %> | <%= link_to "Update profile", edit_profile_path(current_user.profile(params[:id])) %>
          <% else %>
            <%= link_to "Member sign in", new_user_session_path %>
          <% end %>
          </small></p> 
        </div>
  </div>
</header>
<div id="faithdd" class="jq-dropdown jq-dropdown-tip">
      <ul class="jq-dropdown-panel">
          <li> <%=link_to "Home", root_path(anchor: "welcome") %></li>
          <li> <%=link_to "Worship", worship_index_path %> </li>
          <li> <%=link_to "Sermons", sermons_path %> </li>
          <li> <%=link_to "Adult Education", formation_index_path %> </li>
          <li> <%=link_to "Sunday School", sunday_school_index_path %> </li>
          <li> <%=link_to "Leadership", leadership_index_path %> </li>
        </ul> 
    </div>
    <div id="actiondd" class="jq-dropdown jq-dropdown-tip">
      <ul class="jq-dropdown-panel">
        <li> <%=link_to "There's a place for you", opportunities_path %> </li>
        <li> <%=link_to "Farmers' Market, Gift Shop, Boutique", markets_index_path %> </li>
        <li> <%=link_to "Children's shelter in the Dominican Republic", albergue_path %> </li>
        <li> <%=link_to "Activities", activities_index_path %> </li>
        <li> <%#=link_to "Money Matters", new_pledge_path %> </li>
        <li> <%=link_to "Family Ties", posts_path %> </li>
        <% if current_user %>
        <li> <%= link_to "Communicators' Corner", story_ideas_path %>
        <% end %>
        <% if current_user && current_user.vestry? or current_user && current_user.admin? %>
        <li> <%=link_to "Vestry Report", vreports_path %> </li>
        <% end %>
      </ul> 
    </div>
    