<header>
  <div class="header">
    <div id="home-logo">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/saintpaulsnaplesorg/logos/New_StPaul_LogoWeb.jpg", { id: 'home-logo', width: '325' }) %>
    </div>
    <div id="menu-one"> 
    <button class="btn-custom" data-jq-dropdown="#faithdd">Faith >></button>
    </div> 
    <div id="menu-two"> 
     <button class="btn-custom" data-jq-dropdown="#actiondd">Action >></button>
    </div><div class="clearall"></div>

    <% if user_signed_in? %>
    <div id="menu-five">
      <p><small>
        Logged in as <%= current_user.full_name.titleize %> |  <%= link_to "Log out", destroy_user_session_path, method: :delete %> | <%= link_to "Edit account", edit_user_registration_path %> | <%#= link_to "Edit profile", edit_profile_path %>
      </small></p></div>
      <% end %>   
  </div>
</header>
<div id="faithdd" class="jq-dropdown jq-dropdown-tip">
      <ul class="jq-dropdown-panel">
          <li> <%=link_to "Home", root_path %></li>
          <li> <%=link_to "Worship", worship_index_path %> </li>
          <li> <%=link_to "Sermons", sermons_path %> </li>
          <li> <%=link_to "Adult Education", formation_index_path %> </li>
          <li> <%=link_to "Sunday School", sunday_school_index_path %> </li>
          <li> <%=link_to "Leadership", leadership_index_path %> </li>
        </ul> 
    </div>
    <div id="actiondd" class="jq-dropdown jq-dropdown-tip">
      <ul class="jq-dropdown-panel">
        <li> <%=link_to "Children's shelter in the Dominican Republic", pages_albergue_path %> </li>
        <li> <%=link_to "Farmers' Market, Gift Shop, Boutique", markets_index_path %> </li>
        <li> <%=link_to "Opportunities for you", opportunities_path %> </li>
        <li> <%#=link_to "Activities", activities_index_path %> </li>
        <li> <%#=link_to "Money Matters", pledges_path %> </li>
        <li> <%=link_to "Connections", posts_path %> </li>
      </ul> 
    </div>