<header>
  <div class="header">
    <div id="home-logo">
      <%= cl_image_tag("logos/New_StPaul_LogoWeb.jpg", { id: 'home-logo', width: '325' }) %>
    </div>
    <div id="menu-one">
     <a class="dropdown-toggle" data-toggle="dropdown" href="#"><button class="button-custom"> Faith </button></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
        <li> <%=link_to "Worship", worship_index_path %> </li>
        <li> <%=link_to "Sermons", sermons_path %> </li>
        <li> <%=link_to "Prayer Group", prayer_index_path %> </li>
        <li> <%=link_to "Adult Education", formation_index_path %> </li>
        <li> <%=link_to "Sunday School", sunday_school_index_path %> </li>
        <li> <%=link_to "Leadership", leadership_index_path %> </li>
      </ul> 
    </div>

    <div id="menu-two"> 
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><button class="button-custom">Action </button></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
        <li> <%=link_to "Opportunities for you", opportunities_path %> </li>
        <li> <%=link_to "Farmers' Market, Gift Shop, Boutique", markets_index_path %> </li>
       <li> <%=link_to "Activities", activities_index_path %> </li>
      <li> <%=link_to "Money Matters", pledges_path %> </li>
      <li> <%=link_to "Keeping in touch", posts_path %> </li>
      </ul> 
    </div>
  </div>
</header>