<div class="col col-lg-12">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand">
      <% if user_signed_in? %>
        <%= current_user.full_name.titleize %><br> <%= link_to " Log out",destroy_user_session_path, method: :delete, class: 'text-white' %> 
          <%= link_to " | Edit account", edit_user_registration_path, 
            class: 'text-white' %> 
          <%= link_to " | Update profile", 
            edit_profile_path(current_user.profile) %>
      <% else %>
        <%= link_to "Member sign in", new_user_session_path %>
      <% end %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link" %>
    </li> 
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#" 
        id="navbarDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Worship </a> 
    <div class="dropdown-menu" aria-labelledby="#navbarDropdown1">
      <%= link_to "How we worship", worship_index_path, {class: "dropdown-item"} %><br>
      <%= link_to "Read sermons", sermons_path, {class: "dropdown-item"} %><br>
      <%= link_to "Adult Formation", formation_talks_path, {class: "dropdown-item"} %><br>
      <%= link_to "Children's Sunday School", sunday_school_index_path, {class: "dropdown-item"} %><br>
      <%= link_to "How to pray", pages_how_to_pray_path, {class: "dropdown-item"} %><br>
    </div>
    </li>
      
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#" 
        id="navbarDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leadership </a> 
      <div class="dropdown-menu" aria-labelledby="#navbarDropdown2">
          <%= link_to "Clergy and staff", leadership_index_path, {class: "dropdown-item"} %><br>
          <%= link_to "Vestry", leadership_index_path, {class: "dropdown-item"} %><br>
          <%= link_to "Vestry minutes", vestry_minutes_path, {class: "dropdown-item"} %><br>
           <% if current_user && current_user.has_role?(:vestry) or current_user && current_user.has_role?(:admin) %>
           <%= link_to "Vestry Report", vreports_path, {class: "dropdown-item"} %>
           <br>
           <% end %>
           <% if user_signed_in? %>
           <%= link_to "Parish profile", "https://res.cloudinary.com/saintpaulsnaples-org/image/upload/v1522935596/ParishProfile_vs6vjv.pdf.jpg.pdf", class: "dropdown-item" %><br>
           <% end -%>
           <% if current_user && current_user.has_role?(:searcher) %>
           <%= link_to "Searchers' page", searches_path, {class: "dropdown-item"} %><br>
           <% end %>
           <% if current_user && current_user.has_role?(:communicator) %>
           <%= link_to "Communicators' corner", story_ideas_path, {class: "dropdown-item"} %><br>
           <% end -%>
           <%= link_to "Our history", history_path, {class: "dropdown-item"} %>
          <!-- <%#= link_to "On-line giving", new_pledge_path, {class: "dropdown-item"} %> <br> -->
        </div>
      </li>
  
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#" 
        id="navbarDropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activities</a> 
      <div class="dropdown-menu" role="menu" aria-labelledby="#navbarDropdown3">
        <%= link_to "Activities", activities_index_path, {class: "dropdown-item"} %><br>
          <%#= link_to "Celebrate Jubilee!", jubilee_plans_path, {class: "dropdown-item"} %>
        <%= link_to "Opportunities to serve", opportunities_path, {class: "dropdown-item"} %><br>
        <%= link_to "Family Ties", posts_path, {class: "dropdown-item"} %><br>
      </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#" 
          id="navbarDropdown4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Markets</a>
      <div class="dropdown-menu" aria-labelledby="#navbarDropdown4">
        <%= link_to "Farmers' Market", markets_index_path, class: "dropdown-item" %><br>
        <%= link_to "Gift Shop", markets_index_path, class: "dropdown-item" %><br>
        <%= link_to "Unique Boutique", markets_index_path, class: "dropdown-item" %><br>  
      </div>
    </li>
  </ul>  
  </div>
</nav>
</div>
