<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>St. Paul's Episcopal Church, Naples FL, Spirituality, Prayer, Worship,
    Farmers Market, Haitian Episcopal Church</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=yes">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <script src="https://js.stripe.com/v3/"></script>


<%
=begin%>
 #<link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css"> 

  <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
  <%
=end%>


  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
          <%
=begin%>
 <link rel="stylesheet" href="/trix.css" /> 
<%
=end%>
          <style>
            .sr-only {
              position: absolute;
              width: 1px;
              height: 1px;
              padding: 0;
              margin: -1px;
              overflow: hidden;
              clip: rect(0, 0, 0, 0);
              border: 0;
            }

            :root {
              --sp-color: #630e08;
            }

            h1,
            h2,
            h3 {
              color: var(--sp-color);
            }
          </style>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="<%= controller_name %>  <%= action_name %>">
  <div class="page">
    <div class="container">
      <%= render '/layouts/header' %>
        <%= render '/layouts/navbar' %>
          <% if notice %>
            <p class="alert alert-success">
            <%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger">
            <%= alert %></p>
          <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    </div><!-- container -->
  </div> <!-- page -->
</body>

</html>