<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>St. Paul's Episcopal Church, Naples FL, Spirituality, Prayer, Worship,
    Farmers Market, Haitian Episcopal Church</title>

  <meta name="stripe-key" content=
    "<%= Rails.configuration.stripe[:publishable_key] %>">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
     
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

 
  <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %>  <%= action_name %>">
  <div class="page">
    <div class="container">

      <%= render '/layouts/header' %>
      <div class="mt20"></div>
      <%= render '/layouts/navbarTest' %>
      <%= flash_messages %>
      <div class="mt30"></div>

<%= yield %>
  <%= render 'layouts/footer' %>

    </div><!-- container -->
  </div> <!-- page -->
</body>

</html>
