<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>St. Paul's Episcopal Church, Naples FL, Spirituality, Prayer, Worship,
    Farmers Market, Haitian Episcopal Church</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <script src="https://js.stripe.com/v3/"></script>

 <% if Rails.env.development? %> 

    <%= tag.meta name: "stripe-key", content:
     Rails.application.credentials.stripe[:public_key] %>
  
 <% else %>
     <%= tag.meta name: "stripe-key", content: ENV["STRIPE_PUBLISHABLE_KEY"] %>
   <% end %> 
  
    
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
</head>

<body class="<%= controller_name %>  <%= action_name %>">
  <div class="page">
    <div class="container">

      <%= render '/layouts/header' %>
      <div class="mt-1"></div>
      <%= render '/layouts/navbar' %>
      <%= flash_messages %>
      <div class="mt-3"></div>

<%= yield %>
  <%= render 'layouts/footer' %>

    </div><!-- container -->
  </div> <!-- page -->
</body>

</html>
