<h1>Membership </h1>
<% @members.each do |m| %>
<p><strong><%= m.first_name %>&nbsp;<%= m.last_name %>&nbsp;<%= m.email %> &nbsp;<%= m.membership_id %> &nbsp;<%= m.anniversary %> &nbsp; <%= link_to 'Edit', edit_member_path(m) %> <small> 
        <%= link_to ' | Destroy', m, method: :delete, data: { confirm: 'Are you sure?' } %></small></p>
<% end %>


<br><br>
  <h4>Import data</h4>
    <%= form_for @import, url: import_members_path, multipart: true do |f|%>
      <% if @import.errors.any? %>
        <div class="alert alert-error">
        <% @import.errors.full_messages.each do |msg| %>
        <div><%= msg %> </div>
        <% end %>
      <% end %>
      <%= f.file_field :file %>
      <%= f.submit  "Upload CSV" %>
    <% end %>
    

